page-hold-map {
	.content{
		background:transparent;
		position:absolute;
		padding:0px;
		max-height: 190px;
		top: 15px;	
		
		.scroll-content{
			padding:0px !important;
			margin-bottom: 0px !important;
			.item{
				background-color: transparent;
			}
			.item-inner{
				border-bottom:0px;
			}
			.label{
				text-align: center;
			}
		}
		.searchbar-ios {
		  background: transparent;
		  .searchbar-input{
			padding: 0 28px;
			border-radius: 5px;
			height: 40px;
			font-size: 1.4rem;
			font-weight: 400;
			color: #000;
			background-color: #fff;
			color: #5b87aa;
		  }
		  
		  .searchbar-search-icon{
			top: 13px;
		  }
		}
	}
	
	.back-btn,.current-location{
		color: #fff;
		background-color: #f95e64;
		font-size: 20px;
		margin: 5px auto;
		width: 270px;
		border-radius: 100px;
		padding: 3px 0;		
	}
	.current-location{
		background-color: #5b87aa;
	}
	
	
}
