page-network-no {
  .heading {
    padding: 0 22px;
    position: relative;
    z-index: 3;
    p {
      color: color($colors, bk);
      &.head {
        font-size: 16px;
        line-height: 18px;
      }
      &.sub-head {
        font-size: 10px;
      }
    }
  }
  .row {
    height: 33%;
    font-size: 20px;
    &.center-absolute {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .icon {
      &.sun-icon {
        background-image: url('../assets/images/sun_icon.png');
        width: 26px;
        height: 26px;
        background-size: 26px;
        margin-left: 6px;
      }
    }

    .be-founder {
      font-size: 20px;
      font-weight: normal;
      height: auto!important;
      img.connect {
        display: inline-block;
        height: 44px;
        margin-right: 15px;
      }
    }
  }

  .button-clear {
    text-transform: none;
  }
  .no-network-toolbar {
    padding: 12px 0;
  }
  .no-network-head {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    .connect-to-network {
      padding: 0 12px;
      img {
        min-width: 68px;
        width: 68px;
        height: 68px;
        display: block;
      }
      p {
        margin: 0;
        color: color($colors, bk);
        font-size: 12px;
        margin-top: 12px;
      }
    }
    .no-network-info {
      margin: 0;
      font-size: 16px;
      padding: 0 12px;
      text-align: left;
    }
  }
  .broadcast-info {
    text-align: center;
    margin-top: 3px;
    font-size: 10px;
  }
}
