page-network-no {
  .row {
    height: 33%;
    font-size: 20px;

    .icon {
      &.sun-icon {
        background-image: url('../assets/images/sun_icon.png');
        width: 26px;
        height: 26px;
        background-size: 26px;
        margin-left: 6px;
      }
    }

    .be-founder {
      font-size: 20px;
      font-weight: normal;
    }
  }

  .button-clear {
    text-transform: none;
  }
}
