page-network-create {
  .row {
    padding: 0 8%;

    &.action-buttons {
      .col[text-left] {
        padding-left: 18px;
      }

      .col[text-right] {
        padding-right: 18px;
      }

      .button-clear {
        font-size: 20px;
        padding: 0;
        font-weight: normal;
      }
    }

    &.count-people {
      font-size: 20px;
    }

    .sun-icon {
      width: 42px;
      height: 42px;
      margin-top: 5%;
    }

    .card {
      box-shadow: none;
      margin: 0;
      width: 100%;
      text-align: justify;

      p {
        color: inherit;
        margin-bottom: 16px;
      }
    }

    .list {
      .item {
        &.item-block {
          .item-inner {
            border: none;
          }
        }

        ion-avatar {
          img {
            width: 42px;
            height: 42px;
          }
        }
      }
    }
  }

  .button-clear {
    text-transform: none;
  }
}
