<ion-header class="incognito-header" isScrolling="false" [ngClass]="{'chat-header': !isUndercover}">
  <ion-toolbar *ngIf="isUndercover">
    <div class="drag-container">
      <div class="dragline">
        <span class="info">
          <span *ngIf="undercoverPrvd.profileType == 'profile'" class="username">
            {{ user.first_name }} {{ user.last_name }}
          </span>
          <span *ngIf="undercoverPrvd.profileType == 'undercover'" class="username">
            {{ user.role_name }}
          </span>
        </span>
        <ion-icon ios="ios-log-out" md="ios-log-out"></ion-icon>
        <img class="draggable-element"
          [src]="undercoverPrvd.profileType == 'undercover' ? user.role_image_url : user.avatar_url"
          (click)="goToProfile()">
      </div>
    </div>

    <button ion-button *ngIf="isUndercover && postMessages.length === 0 && !chatPrvd.postBtn.state"
            class="side refresh-btn top-icon">
      <ion-icon ios="md-refresh-circle" md="md-refresh-circle"></ion-icon>
    </button>
    <button ion-button *ngIf="isUndercover && postMessages.length > 0 && !chatPrvd.postBtn.state"
            class="side clear-btn" (click)="clearMessages()">
      Clear
    </button>

    <button ion-button *ngIf="isUndercover && chatPrvd.postBtn.state"
            class="side lock-btn top-icon" (click)="toggleTopSlider('lock')">
      <ion-icon ios="ios-lock" md="ios-lock"></ion-icon>
    </button>
    <button ion-button *ngIf="isUndercover && chatPrvd.postBtn.state"
            class="side left timer-btn top-icon" (click)="toggleTopSlider('timer')"
            [ngClass]="{'active' : debug.postHangTime != 0}">
      <ion-icon ios="ios-timer-outline" md="ios-timer-outline"></ion-icon>
    </button>
    <ion-badge *ngIf="debug.postHangTime != 0 && chatPrvd.postBtn.state && isUndercover">
      {{ debug.postHangTime }}
    </ion-badge>

  </ion-toolbar>

  <ion-toolbar [hidden]="postTimer.hidden" [@slideState]="postTimer.state" class="post-timer">
    <button (click)="setPostTimer(0)">None</button>
    <button (click)="setPostTimer(10, 'h')">10 hours</button>
    <button (click)="setPostTimer(1, 'd')">1 day</button>
    <button (click)="setPostTimer(1, 'w')">1 week</button>
    <button (click)="setPostTimer(1, 'm')">1 month</button>
  </ion-toolbar>

  <ion-toolbar [hidden]="postLock.hidden" [@slideState]="postLock.state" class="post-lock">
    <form (submit)="sendLockInfo(lockForm)" #lockForm="ngForm">
      <ion-item>
        <ion-input type="password" placeholder="Password" name="password"
          [(ngModel)]="postLockData.password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Hint" name="hint"
          [(ngModel)]="postLockData.hint" required></ion-input>
      </ion-item>
      <button ion-button type="submit" class="submit"
              *ngIf="postLockData.password && postLockData.hint">Lock it</button>
    </form>
    <button color="bk" class="back" (click)="toggleTopSlider('lock')"></button>
  </ion-toolbar>

  <div *ngIf="!isUndercover" class="netwrk-header">
    <ion-toolbar>
      <img [src]="user.avatar_url ? user.avatar_url : toolsPrvd.defaultAvatar"
        (click)="goToProfile()" class="user-icon">
    </ion-toolbar>
    <ion-slides slidesPerView="4" class="netwrk-slider">
      <ion-slide class="netwrk-slide">
        <div class="avatar add-to-netwrk">
          <img src="assets/images/netwrk_plus.svg">
        </div>
      </ion-slide>
      <ion-slide *ngFor="let user of chatUsers" class="netwrk-slide">
        <div class="avatar" (click)="goToProfile(user.id)">
          <img [src]="chatPrvd.users[user.id].avatar_url">
        </div>
        <span *ngIf="user.first_name || user.last_name" class="username">
          {{ user.first_name }} {{ user.last_name }}
        </span>
        <span *ngIf="!user.first_name && !user.last_name" class="username">
          {{ user.email }}
        </span>
      </ion-slide>
    </ion-slides>
  </div>

</ion-header>

<ion-content has-main-btn has-main-btn-label
  [ngClass]="{'netwrk-content': !isUndercover}"
  [ngStyle]="{'padding-bottom': contentPadding}">
  <div class="chat-container" #chatContainer>
    <div class="message" *ngFor="let i of postMessages">
      <img *ngIf="chatPrvd.users[i.user_id]" (click)="goToProfile(i.user_id)"
        [src]="i.public ? chatPrvd.users[i.user_id].avatar_url : chatPrvd.users[i.user_id].role_image_url"
        class="chat-avatar">
      <img *ngIf="!chatPrvd.users[i.user_id]" (click)="goToProfile(i.user_id)"
        [src]="toolsPrvd.defaultAvatar"
        class="chat-avatar">
      <p class="message-container">
        <span class="username">{{ user.name }}</span>
        <span class="message-date">{{ i.dateStr }}</span>
        <span *ngIf="i.isTemporary" class="visible-for">
          <ion-icon ios="ios-time-outline" md="ios-time-outline"></ion-icon>
          {{ i.temporaryFor }}
        </span>
        <span *ngIf="i.text" class="text">{{ i.text }}</span>
      </p>
      <button class="feedback-button" (click)="sendFeedback(i)"
        [ngClass]="{ 'bottom' : i.image_urls && i.image_urls.length }"
        *ngIf="!i.locked">
      </button>
      <button class="feedback-button lock" (click)="unlockPost()"
        [ngClass]="{ 'bottom' : i.image_urls && i.image_urls.length }"
        *ngIf="i.locked">
        <ion-icon ios="ios-lock" md="ios-lock"></ion-icon>
      </button>
      <img *ngFor="let j of i.image_urls" src="{{j}}"/>
    </div>
  </div>
</ion-content>

<ion-footer class="has-input chatFooter">

  <div item-content class="appended-pictures-container"
    [hidden]="chatPrvd.appendContainer.hidden" [@containerState]="chatPrvd.appendContainer.state">
    <div class="img-container" *ngFor="let i of cameraPrvd.takenPictures; let indx = index" >
      <img class="img-preview" [src]="i"/>
      <button (click)="removeAppendedImage(indx)">
        <ion-icon ios="ios-close" md="ios-close"></ion-icon>
      </button>
    </div>
  </div>

  <div #emojiCont item-content class="gallery-container emoji-container"
    [hidden]="emojiContainer.hidden" [@containerState]="emojiContainer.state">
    <span item-content *ngFor="let emoji of emojis" (click)="insertEmoji(emoji)"
      class="emoji-item">{{ convertEmoji(emoji) }}</span>
  </div>

  <div #shareCont item-content class="gallery-container share-container"
    [hidden]="shareContainer.hidden" [@containerState]="shareContainer.state">
    <ion-toolbar>
      <div class="slide-container sl-facebook">
        <div #slfb [ngClass]="{'active': checkbox.facebook}" class="toggle-el"
          (click)="toggleShareSlider('facebook')">
          <span class="toggle-state" *ngIf="checkbox.facebook">on</span>
          <span class="toggle-state" *ngIf="!checkbox.facebook">off</span>
          <div [ngClass]="{'right': checkbox.facebook}" class="toggleable">
            <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          </div>
          <input type="checkbox" [checked]="checkbox.facebook">
        </div>
      </div>

      <div class="slide-container sl-linkedin">
        <div #slln [ngClass]="{'active': checkbox.linkedin}" class="toggle-el"
          (click)="toggleShareSlider('linkedin')">
          <span class="toggle-state" *ngIf="checkbox.linkedin">on</span>
          <span class="toggle-state" *ngIf="!checkbox.linkedin">off</span>
          <div [ngClass]="{'right': checkbox.linkedin}" class="toggleable">
            <ion-icon ios="logo-linkedin" md="logo-linkedin"></ion-icon>
          </div>
          <input type="checkbox" [checked]="checkbox.linkedin">
        </div>
      </div>

      <div class="slide-container sl-twitter">
        <div #sltw [ngClass]="{'active': checkbox.twitter}" class="toggle-el"
          (click)="toggleShareSlider('twitter')">
          <span class="toggle-state" *ngIf="checkbox.twitter">on</span>
          <span class="toggle-state" *ngIf="!checkbox.twitter">off</span>
          <div [ngClass]="{'right': checkbox.twitter}" class="toggleable">
            <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
          </div>
          <input type="checkbox" [checked]="checkbox.twitter">
        </div>
      </div>

    </ion-toolbar>

    <div ion-content class="share-content">
      <p class="message facebook">
        Unseen University had never admitted women, muttering something about problems with the plumbing, but the real reason was an unspoken dread that if women were allowed to mess around with magic they would probably be embarrassingly good at it ...
      </p>
      <div class="img-container">
        <span class="social-ico linkedin"></span>
        <img src="http://travel.usnews.com/images/destinations/94/yosemite_mirror_lake_getty_michael_h_spiva.jpg">
      </div>
      <p class="message twitter">
        The first rule of magic is simple. Don't waste your time waving your hands and hoping when a rock or a club will do.
      </p>
      <p class="message facebook">
        Do not meddle in the affairs of wizards, for they become soggy and hard to light.
      </p>
      <p class="message facebook">
        "I'm gonna be a famous hero just like Neil Armstrong and those other brave guys no one ever heard of."
      </p>
      <div class="img-container">
        <span class="social-ico facebook"></span>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/f5/a0/62/f5a0626a80fe6026c0ac65cdc2d8ede2.jpg">
      </div>
      <p class="message twitter">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis deleniti perspiciatis sit, obcaecati ut blanditiis aliquid alias rem impedit odit vitae maiores voluptate exercitationem. Perferendis modi eius distinctio illum labore.
      </p>
    </div>

  </div>

  <button isScrolling="false" tapable [hidden]="chatPrvd.mainBtn.hidden" [@mainBtnState]="chatPrvd.mainBtn.state" color="bk"
  class="main-action-btn big has-footer transparent chatMainBtn" (click)="goUndercover()"></button>

  <div ion-content class="flip-container" [ngClass]="{'hover' : flipHover}">
    <ion-item class="text front" #inputItem
              [@fadeState]="mainInput.state" [hidden]="mainInput.hidden"
              [ngClass]="{ 'has-post-btn' : chatPrvd.postBtn.state}">
      <div item-content id="textInpBtns" [@bgState]="bgState.state">
        <button ion-button [@inputState]="chatBtns.state[0]"
        (click)="openCamera();
              toggleContainer(emojiContainer, 'hide');
              toggleContainer(shareContainer, 'hide')">
          <ion-icon ios="ios-camera-outline" md="ios-camera-outline"></ion-icon>
        </button>
        <button ion-button [@inputState]="chatBtns.state[1]" (click)="chatPrvd.openGallery()">
           <ion-icon ios="ios-image-outline" md="ios-image-outline"></ion-icon>
        </button>
        <button ion-button [@inputState]="chatBtns.state[2]" (click)="toggleContainer(shareContainer);">
          <ion-icon ios="ios-redo" md="ios-redo"></ion-icon>
        </button>
        <button ion-button [@inputState]="chatBtns.state[3]" (click)="toggleContainer(emojiContainer);">
          <ion-icon ios="ios-happy-outline" md="ios-happy-outline"></ion-icon>
        </button>
        <button ion-button [@inputState]="chatBtns.state[4]"></button>
      </div>

      <button ion-button
        (click)=" toggleChatOptions();
          toggleContainer(emojiContainer, 'hide');
          toggleContainer(shareContainer, 'hide')"
        [@rotState]="chatOptions.state" ion-button item-left clear
        id="plus-btn">
        <ion-icon ios="ios-add" md="ios-add"></ion-icon>
      </button>

      <ion-input #textInput id="textInput" type="text" [placeholder]="placeholderText"
                 (keyup)="getCaretPos(textInput); calculateInputChar(textInput)">
      </ion-input>
    <!-- <div #textInput id="textInput" type="textShortMessage" contenteditable=""></div> -->

      <button ion-button item-right clear [ngClass]="{ 'post-button' : chatPrvd.postBtn.state }"
              (click)="postMessage()" class="post-message">
        <img *ngIf="!chatPrvd.postBtn.state && !isUndercover" src="assets/icon/netwrk-chat.svg">
        <span *ngIf="chatPrvd.postBtn.state && !isUndercover && bgState.state != 'stretched'">Post</span>
        <span *ngIf="chatPrvd.postBtn.state && isUndercover && bgState.state != 'stretched'">Hang</span>
        <ion-icon *ngIf="!chatPrvd.postBtn.state && isUndercover"
        ios="ios-text-outline" md="ios-text-outline"></ion-icon>
      </button>
    </ion-item>
  </div>
</ion-footer>
