page-chat {

  .header {
    &.header::after {
      background: none;
    }

    .toolbar-background {
      border: none;
      background: transparent;
    }

    .toolbar-content {
      text-align: center;
    }

    .top-profile {
      text-align: center;
      padding: 16px;
      position: relative;

      .avatar {
        width: 42px;
        height: 42px;
        position: absolute;
        top: 3px;
        right: 2px;
        border-radius: 100%;
      }

      .label {
        background: color($colors, white);
        padding: 5px 35px;
        border-radius: 100px;

        .icon {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          margin: 0 5px;
          color: #b7b7b7;
        }
      }
    }

    .swiper-slide {
      img {
        border-radius: 50%;
      }
    }
  }

  .content {
    background: transparent;

    &.netwrk-content {
      background: color($colors, white);
    }

    &.netwrk-content.content-ios,
    &.netwrk-content.content-md {
      .scroll-content {
        margin-top: 160px!important;
      }
    }

    &.content-ios {
      .scroll-content {
        margin-top: 60px!important;
      }
    }

    .scroll-content {
      margin-top: 44px!important;
      padding-bottom: inherit;
    }
  }

  .footer {
    background: transparent;
    .main-action-btn {
      bottom: 68px;
      border: 3px solid #5b87aa;
    }

    .item {
      background: color($colors, white);
      padding: 0;
      margin: 13px;
      width: -webkit-calc(100% - 26px);
      width: calc(100% - 26px);
      height: 42px;
      min-height: 42px;
      border-radius: 21px;
      .item-inner {
        border-radius: 0;
        border: none;
        padding-right: 0;

        .text-input {
          font-size: 14px;
          margin-left: 0;
        }
      }

      .button {
        &[item-left] {
          margin-left: 8px;
        }

        .icon {
          font-size: 26px;
        }
      }
    }
  }

  #textInpBtns {
    position: absolute;
    left: 0;
    width: 100px;
    z-index: 49;
    top: 0;
    bottom: 0;
    background-color: color($colors, white);
    height: 42px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    button {
      position: relative;
      opacity: 0;
      padding: 0;
      margin: 0;
      color: #000;
      width: 47px;
      height: auto;
      background: color($colors, white);
      box-shadow: none;
      ion-icon {
        line-height: 26px;
      }
      ion-icon.ion-ios-camera-outline {
        font-size: 33px;
      }
    }
  }

  .chatMainBtn {
    bottom: 68px;
  }

  ion-footer.chatFooter.has-input {
    // height: 100%;
    // background: lightseagreen;
  }

  ion-item.text {
    position: absolute;
    bottom: 0;
    transition: none;
    &.has-post-btn {
      border-radius: 21px 13px 13px 21px;
    }
    .item-inner {
      padding-right: 0;
      border: none!important;
    }
    #textInpBtns {
      &{
        transition: none;
        border-radius: 21px;
        overflow: hidden;
      }
      button{
        transition: none;
      }
    }
    #plus-btn {
      & {
        padding: 0;
        z-index: 50;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: color($colors, white);
        height: 100%;
        width: 42px;
        margin: 0;
        margin-left: 0;
        border-radius: 50%;
      }
      ion-icon {
        font-size: 37px;
      }
    }
    ion-icon {
      color: color($colors, chat-icon);
    }
    #textInput {
      & {
        // margin-left: 47px;
        padding-left: 47px;
        box-sizing: border-box;
        border: none;
        -webkit-border-radius:0;
        -webkit-appearance: none;
        border-radius:0;
        box-shadow: none;
        width: 100%;
        height: 42px;
        background: transparent;
      }

      input {
        height: 42px;
        margin: 0;
        background: color($colors, white);
      }
    }
    button.post-message{
      width: 50px;
      height: 42px;
      margin: 0;
      padding: 0;
      background: color($colors, white);
      border-radius: 21px;
      & img {
        width: 19px;
        height: 19px;
      }
      &.post-button {
        background-color: #5b87aa;
        color: #fff;
        font-size: 14px;
        border-radius: 13px;
        border: 1px solid white;
      }
    }
  }
  div.appended-pictures-container{
    & {
      position: absolute;
      z-index: 0;
      background: color($colors, white);
      width: 100%;
      bottom: 0;
      border-bottom: 68px solid color($colors, white);
      padding: 13px;
      padding-top: 20px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .img-container {
      & {
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        position: relative;
        margin: 2px 10px;
      }
      .img-preview {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        object-fit: cover;
      }
      button {
        display: block;
        box-sizing: content-box;
        position: absolute;
        padding: 0;
        width: 26px;
        height: 26px;
        top: -13px;
        right: -13px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.6);
        color: color($colors, white);
        font-size: 21px;
      }
    }
  }
  div.gallery-container {
    & {
      position: absolute;
      z-index: 0;
      background: color($colors, white);
      width: 100%;
      bottom: 0;
      padding: 7px;
      padding-top: 0;
      box-sizing: border-box;
      border-top: 7px solid color($colors, white);
      padding-bottom: 75px;
    }

  }

  div.emoji-container{
    &{
      text-align: left;
      overflow: scroll;
      background-color: #f5f2f4;
      border-bottom: 75px solid;
      border-color: #f5f2f4;
      padding-bottom: 0;
    }
    .emoji-item{
      &{
        font-size: 39px;
        text-align: center;
        width: 14.28%;
        display: block;
        float: left;
      }
    }
  }

  div.share-container {
    & {
      border-top: none;
      background-color: #f5f2f3;
      padding: 0;
    }
    .toolbar{
      &{
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        background: #e0e0e0;
      }
      .toolbar-background{
        border: none;
        background: transparent;
      }
    }
    .slide-container {
      & {
        width: 33.3%;
        height: 26px;
        position: relative;
        float: left;
      }
      input[type="checkbox"]{
        width: 0;
        height: 0;
        opacity: 0;
      }
      .toggle-el {
        & {
          position: relative;
          width: 110px;
          margin: 0 auto;
          border-radius: 13px;
          height: 26px;
          background: color($colors, white);
          transition: all 0.3s ease-out;
        }
        &.active{
          .toggle-state{
            color: color($colors, white);
          }
        }
        .toggle-state {
          line-height: 26px;
          color: #000;
          font-size: 9px;
          text-transform: uppercase;
          transition: all 0.3s ease-out;
        }
        .toggleable {
          & {
            width: 26px;
            height: 26px;
            position: absolute;
            left: 0px;
            top: 0;
            border-radius: 50%;
            background: color($colors, white);
            box-shadow: 0px 5px 9px -4px rgba(0, 0, 0, .3);
            transition: all 0.3s ease-out;
          }
          &.right{
            left: 85px;
          }
          ion-icon {
            line-height: 26px;
          }
        }
      }
    }
    .slide-container.sl-facebook {
      .toggle-el.active {
        background: #195e99;
      }
      .icon {
        color: #195e99;
      }
    }
    .slide-container.sl-twitter {
      .toggle-el.active {
        background: #0093ee;
      }
      .icon {
        color: #0093ee;
      }
    }
    .slide-container.sl-linkedin {
      .toggle-el.active {
        background: #0077b5;
      }
      .icon {
        color: #0077b5;
      }
    }
    .share-content {
      & {
        position: absolute;
        top: 42px;
        height: 100%;
        padding: 0;
        overflow-y: scroll;
        padding-bottom: 110px;
      }

      p.message{
        & {
          font-size: 12px;
          text-align: left;
          border-radius: 13px;
          background: color($colors, white);
          padding: 15px 10px 15px 40px;
          position: relative;
          margin: 10px 5px;
        }
      }

      p.message:before,
      .social-ico {
        font-family: 'Ionicons';
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, .8);
        text-align: center;
        line-height: 20px;
        text-decoration: none;
        font-size: 12px;
        box-shadow: 0px 5px 9px -4px rgba(0, 0, 0, .3);
      }

      .facebook:before {
        content: "\f236";
        color: #195e99;
      }
      .twitter:before {
        content: "\f2b0";
        color: #0093ee;
      }
      .linkedin:before {
        content: "\f240";
        color: #0077b5;
      }
      .img-container {
        position: relative;

        img {
          width: 100%;
          // max-height: 250px;
          // object-fit: cover;
        }

        .social-ico {
          left: 15px;
        }

        .message {
          position: absolute;
        }
      }
    }
  }

  ion-content.content {
    & {
      // background-color: lightblue!important;
    }
    .chat-container {
      .message {
        padding: 0;
        margin: 0;
        position: relative;
        margin-top: 24px;
        opacity: 0;
        .chat-avatar {
          border-radius: 50%;
          width: 42px;
          height: 42px;
          margin: 0;
          top: -7px;
          margin-left: 12px;
          z-index: 3;
          position: absolute;
          background: lightblue;
        }
        .message-container {
          border-radius: 13px;
          background: color($colors, white);
          margin: 0;
          margin-left: 32px;
          padding: 6px;
          padding-left: 32px;
          margin-right: 50px;
          position: relative;
          z-index: 2;
          .username {
            font-size: 16px;
            display: inline-block;
          }
          .message-date {
            font-size: 12px;
            color: #7a7a7a;
          }
          .visible-for {
            color: color($colors, bk-red);
            float: right;
            .icon {
              color: color($colors, bk-stone);
              font-weight: 600;
            }
          }
          .text {
            display: block;
            font-size: 12px;
            margin-top: 12px;
            margin-left: -10px;
            &.emoji {
              font-size: 44px;
            }
          }
        }
        img {
          position: relative;
          z-index: 1;
          top: -18px;
          background: color($colors, white);
          width: 100%;
        }
        .feedback-button {
          width: 42px;
          height: 42px;
          border-radius: 13px;
          position: absolute;
          right: 4px;
          top: 0;
          z-index: 3;
          background: url(../assets/icon/like.svg) no-repeat center;
          background-size: 75%;
          background-color: color($colors, bk);
          &.active {
            background-color: color($colors, bk-active-blue);
          }
          &.bottom {
            top: auto;
            bottom: 25px;
          }
          &.lock {
            background: color($colors, bk-active-blue);
            .icon {
              font-size: 30px;
              color: #fff;
            }
          }
        }
      }

    }
  }
  ion-header {
    &.header {
      button.side {
        right: 13px;
        box-shadow: none;
        &.left {
          left: 13px;
          right: auto;
        }
      }
    }
    .badge {
      position: absolute;
      left: 25px;
      top: 25px;
      z-index: 50;
      padding: 2px 4px;
      pointer-events: none;
    }
    button.side {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 50;
      &.top-icon {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        padding: 0;
        background-color: transparent;
        & ion-icon {
          font-size: 32px;
          color: color($colors, white);
        }
      }
      &.clear-btn {
        right: 4px;
        padding: 0;
        font-size: 14px;
        color: #fff;
        height: 26px;
        width: 42px;
        border-radius: 13px;
        background: color($colors, bk-red);
      }
      &.active {
        .icon {
          color: color($colors, bk);
        }
      }
    }
  }
  .chat-header {
    background: color($colors, white);
    .netwrk-header {
      // padding-bottom: 16px;
      .toolbar {
        border-bottom: 1px solid color($colors, bk);

        &.area-head {
          background: url('../assets/icon/logo.png') no-repeat center;
          background-size: auto 26px;

          .ic {
            display: block;
            width: 26px;
            height: 26px;
            border-radius: 50%;

            &.user-icon {
              float: left;
              margin-left: 16px;
            }

            &.legendary-icon {
              float: right;
              margin-right: 16px;
            }
          }
        }
      }

      .netwrk-slider {
        width: 100%;
        // height: 0;
        .netwrk-slide {
          & {
            font-size: 12px;
          }
          button.add-to-netwrk {
            display: block;
            margin: auto;
            height: 68px;
            width: 68px;
            border-radius: 50%;
            font-size: 30px;
            background-color: #5b87aa;
          }
          .avatar {
            width: 68px;
            height: 68px;
            margin: auto;
          }
          span.username {
            display: block;
            margin-top: 5px;
          }
        }
      }
    }
  }

  // flip animation
  .flip-container {
    -webkit-perspective: 1000;
    perspective: 1000;

    &:not(.hover) {
      #textInput {
        input::-webkit-input-placeholder {
          color: color($colors, bk);
        }
      }

      .button {
        .icon {
          color: color($colors, bk);
        }
      }

      .front {
        border: 1px solid color($colors, bk);
      }
    }
  }
  .flip-container .back,
  .flip-container .front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: absolute;
  }
  .flip-container .back {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
  .flip-container .front {
    -webkit-transform: rotateX(0deg);
    z-index: 2;
    box-sizing: border-box;
  }
  .flip-container.hover .back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .flip-container.hover .front {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }

}
