<ion-header class="incognito-header">
  <ion-toolbar>
    <div class="drag-container" style="pointer-events: none">
      <div class="dragline">
        <span class="info">
          <span class="username" ion-text color="bk">Choose a new name</span>
        </span>
        <img class="draggable-element" src="assets/icon/netwrk-chat.svg" *ngIf="!activePerson.imageUrl" style="left: 129px">
        <img class="draggable-element" *ngIf="activePerson.imageUrl" [src]="activePerson.imageUrl" style="left: 129px">
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content has-main-btn>
  <ion-row align-items-center>
    <ion-col text-center>
        <h3 ion-text color="bk">Choose a new network or superhero name</h3>
        <div class="text text-md text-md-bk" text-center color="bk">
            (Don't worry, you can change this later)
        </div>
      <ion-slides slidesPerView="3" initialSlide="1" spaceBetween="10">
        <ion-slide></ion-slide>
        <ion-slide [ngClass]="{'transition': sliderLoaded}" *ngFor="let p of persons"
        (click)="choosePerson()">
          <h4 class="title" ion-text color="bk">{{ p.name }}</h4>
          <div class="avatar">
            <img class="sun-icon" src="{{ p.imageUrl }}">
          </div>
        </ion-slide>
        <ion-slide></ion-slide>
      </ion-slides>
      <div class="tip" *ngIf="firstTimeHero">Swipe or tap</div>
      <span class="custom-center-block person-description" ion-text color="bk">
        {{ activePerson.description }}
      </span>
    </ion-col>
  </ion-row>
</ion-content>

<!--<ion-footer>-->
  <!--<button ion-button color="bk" class="main-action-btn medium transparent" outline-->
    <!--(click)="choosePerson()"></button>-->
<!--</ion-footer>-->
