page-undercover-character {
  .header {
    &::after {
      background: none;
    }

    .toolbar-background {
      background: transparent;
      border: none;
    }

    .warning {
      color: color($colors, 'bk-stone');
      font-size: 8px;
      margin-top: -6px;
    }

    .drag-container {
      .dragline {
        background: transparent;
        color: #ccc;
        border-color: color($colors, 'bk');

        .info {
          .username {
            max-width: 100%;
          }
        }
      }
    }
  }

  h1 {
    margin-top: 70px;
  }

  .cusrom-center-block {
    margin-top: 10px;
  }

  ion-slides {
    height: 230px;
    margin-left: -90px;
    margin-right: -90px;
    width: calc(100% + 180px);

    .swiper-slide {
      height: 100%;

      &.active-character {
        z-index: 1;
        transform: scale(1.4);
      }

      &.transition {
        transition: 0.5s all;
      }

      .title {
        font-size: 14px;
      }

      .avatar {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
      }
    }
  }

  .content {
    background: #fff;

    .row {
      height: 100%;

      h1 {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
      }

      .person-description {
        display: block;
        text-align: center;
        overflow: hidden;
        height: 97px;
      }
    }
  }
}
