page-undercover-character {
  .header {
    .toolbar-background {
      background: transparent;
      border: none;
    }

    .warning {
      color: #BDBDBD;
      font-size: 12px;
    }

    .drag-container {
      .dragline {
        background: transparent;
        color: #ccc;

        .info {
          .username {
            max-width: 100%;
          }
        }
      }
    }
  }

  ion-slides {
    height: 230px;
    margin-left: -90px;
    margin-right: -90px;
    width: calc(100% + 180px);

    .swiper-slide {
      height: 100%;

      &.active-character {
        z-index: 1;
        transform: scale(1.4);
      }

      &.transition {
        transition: 0.5s all;
      }

      .title {
        font-size: 14px;
        color: #fff;
      }

      .avatar {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
      }
    }
  }

  .content {
    background: #5c5c5c;

    .row {
      height: 100%;

      h1 {
        font-size: 20px;
        color: #fff;
        text-align: center;
        font-weight: 400;
      }

      .person-description {
        color: #fff;
        text-align: center;
        overflow: hidden;
        height: 97px;
      }
    }
  }
}
