
<ion-content class="connect arealist content">

    <!--Loader on swap-->
    <ion-refresher (ionRefresh)="refreshChat($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="ios"></ion-refresher-content>
    </ion-refresher>

    <!--Follow line Info-->
    <ion-row align-items-center>
        <ion-col text-center>
            <h1 ion-text color="bk">Hello, here are the connectors and networks near you. Tap
                <button ion-button color="bk" class="ion-netwrk-btn">
                    <ion-icon ios="ios-add" md="md-add"></ion-icon>
                </button>
                to follow them.
            </h1>
        </ion-col>
    </ion-row>

    <div class="chat-container visible">
        <div class="visible item-line" *ngFor="let message of netwrkLineList; let i = index">
            <ng-container *ngIf="!message.has_expired && user.id != message.user_id">
                <img *ngIf="message.user" [src]="message.public ? message.user.avatar_url : message.user.hero_avatar_url" class="chat-avatar" (error)="chatPrvd.updateAvatarUrl($event)">
                <img *ngIf="!message.user" [src]="toolsPrvd.defaultAvatar" class="chat-avatar" (error)="chatPrvd.updateAvatarUrl($event)">

                <p class="message-container">
                    <span class="" [ngClass]="{ 'isFollowed' : message.is_followed }">
                        <ng-container class="total-line-point"><span>Point: {{message.points}}</span>, <span> <span *ngIf="message.users_count">{{message.users_count}}</span> <span *ngIf="!message.users_count">0</span> Number of people in net</span></ng-container>
                    </span>

                    <ng-container>
                        <div>{{ message.text }}</div>
                    </ng-container>

                    <ng-container class="username" *ngIf="message.user">
                        <div *ngIf="message.public">
                        {{ message.user.name }}
                        </div>
                        <div *ngIf="!message.public">
                        {{ message.user.role_name }}
                        </div>
                    </ng-container>

                    <span class="message-date">{{ message.dateStr }}</span>

                    <span *ngIf="message.expire_at" class="visible-for">
                        Expires in {{ message.expire_at }}
                    </span>

                    <ng-container *ngIf="!message.locked_by_user || (message.locked_by_user && user.id == message.user_id)">
                    <span *ngIf="message.text_with_links" class="text" [ngClass]="{ 'emoji' : message.is_emoji }" [innerHTML]="message.text_with_links"
                    (click)="toolsPrvd.handleLinkClick($event)" (tap)="viewMyLocation(message)"></span>
                    </ng-container>

                    <ng-container *ngIf="message.locked_by_user && user.id != message.user_id">
                        <span *ngIf="message.text_with_links" class="text"
                        [ngClass]="{ 'emoji' : message.is_emoji }"
                        (click)="toolsPrvd.handleLinkClick($event)">
                        <i>[Message locked]</i>
                        </span>
                    </ng-container>
                </p>

                <button ion-button class="feedback-button" color="bk" item-end (click)="followNearByNetwork(message)" [ngClass]="{ 'isFollowed' : message.is_followed }">
                    <ion-icon ios="ios-add" md="md-add"></ion-icon>
                </button>
            </ng-container>
        </div>
    </div>

    <!--Infinite Loader on bottom scroll-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>


<ion-footer>
  <button ion-button color="bk" class="main-action-btn medium transparent" outline (click)="closeModal()">
       <ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline"></ion-icon>
  </button>
</ion-footer>
