<ion-content has-main-btn has-main-btn-label>
  <ion-row>
    <ion-col text-center>
      <img class="sun-icon" src="assets/images/sun_icon.png">
      <ion-card>
        <ion-card-content>
          <span ion-text color="bk" *ngIf="action != 'create'">
            <p>10 people are needed to get a netwrk started in your area, heres
              who is in so far!</p>
          </span>
          <span ion-text color="bk" *ngIf="action == 'create'">
            <p class="fs-20">
              Your going to be an areacast founder. Awesome!
            </p>
            <p class="fs-14">
              To become an areacast founder, share netwrk by e-mail so more people
              can connect to your area. You can also send a quick message
              through text. The e-mail contacts you share with us will go to
              building up your area, and others, giving you a better experience,
              and a larger audience for your broadcasts!
            </p>
            <p class="fs-14">
              On the e-mails, we are only sending them a story about netwrk, an
              invitation to use the virtual bulletin board and see what's going
              on around them. We will NOT be spamming anyone, or giving out
              e-mails. The text is just a simple: "I just connected to my area
              on this cool app called netwrk, where you can hang anything
              anywhere like a 'insert'. Check it out".
            </p>
            <p>Start by sending e-mails to grow your area!</p>
          </span>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="action-buttons">
    <ion-col text-left>
      <button ion-button clear (click)="sendEmails()">
        <span ion-text color="bk">Send emails</span>
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear (click)="sendSMS()">
        <span ion-text color="bk">Send texts</span>
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="count-people" *ngIf="users.length > 0 && users.length <= 10">
    <ion-col text-center>
      <span ion-text color="bk">{{ users.length }}/10</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item (click)="goToProfile(p)" *ngFor="let p of users">
          <ion-avatar item-left>
            <img [src]="p.avatar_url">
          </ion-avatar>
          <h2 ion-text color="bk" *ngIf="p.name">{{ p.name }}</h2>
          <h2 ion-text color="bk" *ngIf="!p.name">{{ p.email }}</h2>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <button *ngIf="invitationSent || accessed" ion-button color="bk"
    class="main-action-btn medium has-label anim-glow"
    (click)="doAction()" outline>
    <ion-icon class="anim-text-glow custom-text-icon">&#8250;</ion-icon>
  </button>

  <button ion-button class="footer-back-button" (click)="goBack()" clear hidden>
    <span color="bk" ion-text>Back</span>
  </button>
</ion-footer>
