<ion-content has-main-btn has-main-btn-label>
  <ion-row>
    <ion-col text-center>
      <img class="sun-icon" src="assets/images/sun_icon.png">
      <ion-card>
        <ion-card-content>
          <span ion-text color="bk" *ngIf="action == 'join'" hidden>
            <p>More people are still needed to found this netwrk, send a email or text to get the last few!</p>
          </span>
          <span ion-text color="bk" *ngIf="action == 'create'">
            <p>To become a founder, at least 20 people must be invited from your contact list or by email, and at least 10 need to join.</p>
            <p>10 people are needed to found a netwrk. Click the email button to contact your email list, or send a text message to your phone book.</p>
          </span>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="action-buttons">
    <ion-col text-left>
      <button ion-button clear (click)="sendEmails()">
        <span ion-text color="bk">Send emails</span>
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear (click)="sendSMS()">
        <span ion-text color="bk">Send texts</span>
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="count-people" *ngIf="users.length > 0 && users.length <= 10">
    <ion-col text-center>
      <span ion-text color="bk">{{ users.length }}/10</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item (click)="goToProfile(p)" *ngFor="let p of users">
          <ion-avatar item-left>
            <img [src]="p.avatar_url">
          </ion-avatar>
          <h2 ion-text color="bk" *ngIf="p.first_name || p.last_name">{{ p.first_name }} {{ p.last_name }}</h2>
          <h2 ion-text color="bk" *ngIf="!p.first_name && !p.last_name">{{ p.email }}</h2>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <button *ngIf="invitationSent" ion-button color="bk"
    class="main-action-btn medium has-label"
    (click)="doAction()" outline></button>
  <span *ngIf="invitationSent" class="main-action-text" ion-text color="bk">
    <ng-container *ngIf="!joined">
      Tap to continue
    </ng-container>
    <ng-container *ngIf="joined">
      Go Undercover
    </ng-container>
  </span>

  <button ion-button class="footer-back-button" (click)="goBack()" clear hidden>
    <span color="bk" ion-text>Back</span>
  </button>
</ion-footer>
