<ion-header>
  <ion-toolbar *ngIf="ownProfile">

    <div class="drag-container">
      <div class="dragline">
        <span class="info">
          <span *ngIf="slideAvatarPrvd.sliderPosition == 'right'" class="username">
            {{ user.role_name }}
          </span>
          <span *ngIf="slideAvatarPrvd.sliderPosition == 'left'" class="username">
            {{ user.name }}
          </span>
        </span>
        <ion-icon ios="ios-log-out" md="ios-log-out"></ion-icon>
        <img class="draggable-element"
          [src]="slideAvatarPrvd.sliderPosition == 'right' ?
            user.role_image_url : user.avatar_url">
      </div>
    </div>

    <ion-buttons end>
      <button ion-button icon-only clear class="setting" (tap)="openSettings()">
        <ion-icon name="settings" color="dark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content has-main-btn>
  <ion-row *ngIf="!ownProfile" class="avatar-section">
    <ion-col>
      <div class="avatar">
        <img [src]="profileTypePublic ? user.avatar_url : user.role_image_url">
      </div>
      <span class="username">
        <ng-container *ngIf="undercoverPrvd.profileType == 'undercover' && ownProfile">
          {{ user.role_name }}
        </ng-container>
        <ng-container *ngIf="undercoverPrvd.profileType == 'public' || !ownProfile">
          {{ user.name }}
        </ng-container>
      </span>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="connect.facebook && fbFriends.length > 0 && profileTypePublic" class="facebook" padding>
    <ion-col>
      <label>{{ fbFriends.length }} Сommon Connections</label>
      <ion-slides #fbSlider slidesPerView="5">
        <ion-slide *ngFor="let friend of fbFriends">
          <div class="avatar" (click)="getFbProfile(friend.id)">
            <img [src]="friend.picture.data.url">
          </div>
          <span class="name">{{ friend.name }}</span>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="ownProfile" class="connect" padding>
    <ion-col>
      <ion-row>
        <ion-col class="fb">
          <button type="button" (click)="connectToFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
            Facebook
          </button>
        </ion-col>
        <ion-col class="in" *ngIf="!connect.instagram">
          <button type="button" (click)="connectToInstagram()">
            <ion-icon name="logo-instagram"></ion-icon>
            Instagram
          </button>
        </ion-col>
        <ion-col class="tw" *ngIf="!connect.twitter">
          <button type="button" (click)="connectToTwitter()">
            <ion-icon name="logo-twitter"></ion-icon>
            Twitter
          </button>
        </ion-col>
        <ion-col class="li" *ngIf="!connect.linkedin">
          <button type="button" (click)="connectToLinkedIn()">
            <ion-icon name="logo-linkedin"></ion-icon>
            LinkedIn
          </button>
        </ion-col>
        <ion-col class="sc" *ngIf="!connect.snapchat" hidden>
          <button type="button" (click)="connectToSnapchat()">
            <ion-icon name="logo-snapchat"></ion-icon>
            Snapchat
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button color="light" outline class="connect-accounts">
            Connect your music or creative accounts
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-grid no-padding>
    <ion-row class="feed">
      <ion-col>
        <h3><span>Recent</span></h3>

        <ion-row class="facebook-post">
          <ion-col col-10>
            <ion-card>
              <ion-card-content>
                <ion-card-title>Shared via Facebook - 6h</ion-card-title>
                <p>
                  Just waking up in the morning, gotta thank God. I don't know, but today seems kinda odd. No barking from the dog, no smog. And momma cooked a breakfast with no hog. I got my grub on, but didn't pig out. Just waking up in the morning, gotta thank God. I don't know, but today seems kinda odd. No barking from the dog, no smog. And momma cooked a breakfast with no hog.
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-2>
            <ion-badge item-right>
              0
              <img class="icon-img" src="assets/images/legendary.png">
            </ion-badge>
            <ion-badge item-right>
              0
              <img class="icon-img" src="assets/images/joy.png">
            </ion-badge>
          </ion-col>
        </ion-row>

        <ion-row class="instagram-post">
          <ion-col>
            <img src="assets/images/instagram.png">
            <ion-card>
              <ion-card-content>
                <ion-card-title>Shared via Instagram - 6h</ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <button ion-button color="bk" class="main-action-btn medium transparent"
    outline (click)="goBack()">
    <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
  </button>
</ion-footer>
