page-profile {
  .header {
    &.header::after {
      background: none;
    }

    ion-buttons{
      position: absolute;
      right: 0;
    }

    .setting {
      [name='settings'] {
        font-size: 30px;
        color: #fff;
      }
    }

    .toolbar-background {
      background: transparent;
    }

    .toolbar-content {
      text-align: center;
    }

    .top-profile {
      text-align: center;
      padding: 16px;
      position: relative;
      margin-right: -32px;

      .avatar {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 3px;
        left: 2px;
        border-radius: 100%;
      }

      .label {
        background: #fff;
        padding: 5px 35px;
        border-radius: 100px;

        .icon {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          margin: 0 5px;
          color: #b7b7b7;
        }
      }
    }

    .bar-buttons {
      position: absolute;
      right: 10px;
    }
  }

  .content {
    background: #302f2f;
    &.public-undercover {
      background: #fff;
    }

    .avatar-section {
      .avatar {
        text-align: center;
        height: 178px;

        img {
          border-radius: 100%;
          height: 100%;
          width: auto;
        }
        .username {
          font-size: 26px;
          color: color($colors, white);
          display: block;
          width: 100%;
          text-align: center;
          margin: 21px 0;
        }
      }
    }

    .slides {
      height: auto;
      color: #fff;

      .swiper-slide {
        font-size: 1.0em;
      }

      .avatar {
        width: 42px;
        height: 42px;
        margin: 0 auto 3px;

        img {
          border-radius: 100%;
        }
      }

      .name {
        font-size: 12px;
      }

      .swiper-container {
        padding-top: 23px;

        .swiper-pagination {
          display: block !important;
          bottom: initial;
          left: initial;
          top: -1px;
          text-align: right;

          .swiper-pagination-bullet {
            background: #fff;
            opacity: 1;
          }

          .swiper-pagination-bullet-active {
            background: #ff204f;
          }
        }
      }
    }

    .row {
      &.facebook {
        border-top: 2px solid #b8b8b8;

        label {
          position: absolute;
          color: #fff;
          font-size: 1.1em;
        }
      }

      &.connect {
        color: #fff;
        border-top: 2px solid #b8b8b8;

        .col {
          text-align: center;

          button {
            background: none;
            border: none;
            color: inherit;
            font-size: inherit;
            line-height: inherit;
          }

          .icon {
            color: #fff;
            width: 42px;
            height: 42px;
            border-radius: 6px;
            display: block;
            margin: 0 auto 3px;
            font-size: 36px;
            padding: 4px 0px;
          }

          &.fb {
            .icon {
              background: #3b5998;
            }
          }

          &.in {
            .icon {
              background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
            	background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
            	background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
            	background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
            	background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
            }
          }

          &.tw {
            .icon {
              background: #00a1f2;
            }
          }

          &.li {
            .icon {
              background: #0083be;
            }
          }

          &.sc {
            .icon {
              background: #fffc00;
              font-size: 37px;
              padding: 4px 5px;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
          }
        }

        .connect-accounts {
          width: 100%;
          border-radius: 100px;
          text-transform: none;

          &.button-ios {
            height: 2.2em;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

// Vlad
#profile-list-sliding{
  max-width: 250px;
  margin: 15px auto;

  ion-item-sliding{
    overflow: visible;
    background-color: transparent;
  }
  .button.slide-item-bg-button{
    padding: 0 100px;
    visibility: hidden;
  }
  ion-item{
    font-size: 1.2em;
  }
  ion-item,
  .button.slide-item-bg-button{
    background-color: transparent;
  }
  ion-item.avatar-container{
    width: 47px;
    height: 47px;
    position: absolute;
    z-index: 999;
  }
  .label{
    padding: 2px 35px;
  }
  ion-item-options{
    border: none;
  }
}
