page-profile {
  .header {
    &.header::after {
      background: none;
    }

    .setting {
      margin-right: 12px;

      [name='settings'] {
        font-size: 30px;
        color: #fff;
      }
    }

    .toolbar-background {
      background: transparent;
    }

    .toolbar-content {
      text-align: center;
    }

    .top-profile {
      text-align: center;
      padding: 16px;
      position: relative;
      margin-right: -32px;

      .avatar {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 3px;
        left: 2px;
        border-radius: 100%;
      }

      .label {
        background: #fff;
        padding: 5px 35px;
        border-radius: 100px;

        .icon {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          margin: 0 5px;
          color: #b7b7b7;
        }
      }
    }
  }

  .content {
    &.content {
      background: #302f2f;
    }

    .slides {
      height: auto;
      color: #fff;

      .swiper-slide {
        font-size: 1.0em;
      }

      .avatar {
        padding: 4px;

        img {
          border-radius: 100%;
        }
      }

      .swiper-container {
        padding-top: 20px;

        .swiper-pagination {
          display: block !important;
          bottom: initial;
          left: initial;
          top: -1px;
          text-align: right;

          .swiper-pagination-bullet {
            background: #fff;
            opacity: 1;
          }

          .swiper-pagination-bullet-active {
            background: #ff204f;
          }
        }
      }
    }

    .row {
      &.facebook {
        border-top: 2px solid #b8b8b8;

        label {
          position: absolute;
          color: #fff;
          font-size: 1.1em;
        }
      }

      &.connect {
        color: #fff;
        border-top: 2px solid #b8b8b8;

        .col {
          text-align: center;

          button {
            background: none;
            border: none;
            color: inherit;
            font-size: inherit;
            line-height: inherit;
          }

          .icon {
            font-size: 43px;
            color: #fff;
            width: 45px;
            height: 45px;
            border-radius: 7px;
          }

          &.fb {
            .icon {
              padding: 1px 7px;
              background: #3b5998;
            }
          }

          &.in {
            .icon {
              background: #9b51a0;
              padding: 0px;
            }
          }

          &.tw {
            .icon {
              background: #00a1f2;
              font-size: 37px;
              padding: 5px 7px;
            }
          }

          &.sc {
            .icon {
              background: #fffc00;
              font-size: 37px;
              padding: 4px 5px;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
          }
        }

        .connect-accounts {
          width: 100%;
          border-radius: 100px;
          text-transform: none;

          &.button-ios {
            height: 2.2em;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

// Vlad
#profile-list-sliding{
  max-width: 250px;
  margin: 15px auto;

  ion-item-sliding{
    overflow: visible;
    background-color: transparent;
  }
  .button.slide-item-bg-button{
    padding: 0 100px;
    visibility: hidden;
  }
  ion-item{
    font-size: 1.2em;
  }
  ion-item,
  .button.slide-item-bg-button{
    background-color: transparent;
  }
  ion-item.avatar-container{
    width: 47px;
    height: 47px;
    position: absolute;
    z-index: 999;
  }
  .label{
    padding: 2px 35px;
  }
  ion-item-options{
    border: none;
  }
}
