page-profile,
page-arealist {
  background: #302f2f!important;
  .slide-container {
    width: 50%;
    margin-bottom: 15px;
    .toggle-el {
      width: 110px;
      .toggleable {
        &.right {
          left: 85px;
        }
      }
    }
  }
  .header {
    min-height: 44px;

    &.header::after {
      background: none;
    }

    ion-buttons{
      position: absolute;
      right: 0;
    }

    .setting {
      [name='settings'] {
        font-size: 30px;
        color: #fff;
      }
    }

    .toolbar-background {
      background: transparent;
    }

    .toolbar-content {
      text-align: center;
    }

    .top-profile {
      text-align: center;
      padding: 16px;
      position: relative;
      margin-right: -32px;

      .avatar {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 3px;
        left: 2px;
        border-radius: 100%;
      }

      .label {
        background: #fff;
        padding: 5px 35px;
        border-radius: 100px;

        .icon {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          margin: 0 5px;
          color: #b7b7b7;
        }
      }
    }

    .bar-buttons {
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
    .report-btn {
      background: transparent;
      box-shadow: none;
      opacity: 0.6;
      font-size: 12px;
      position: absolute;
      top: 0;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }

  .content {
    background: #302f2f;
    .row.feed {
      .card {
        margin-top: 0;
        border-radius: 16px;
        max-width: 85%;
      }
    }
    .chat-avatar{
      border-radius: 50%;
      width: 42px !important;
      height: 42px;
      margin: 0;
      top: -7px;
      z-index: 4;
      background: #fff;
      -o-object-fit: cover;
      object-fit: cover;
      left: -9px;
      position: relative;
      float: left;
    }
    .broadcast-central-head {
      font-size: 22px;
      width: 100%;
    }
    &.public-undercover {
      background: #fff;
    }
    .user-points {
      width: 100%;
      text-align: center;
      display: block;
      font-size: 18px;
	  margin: 5px 0 0;
      color: #fff;
    }
    .avatar-section {
      .avatar {
        position: relative;
        text-align: center;
        height: 178px;
        width: 178px;
        margin: auto;
        .blocked-ico {
          position: absolute;
          bottom: 5px;
          right: 5px;
          width: 42px;
          height: 42px;
        }
        img {
          border-radius: 100%;
          height: 100%;
          width: auto;
          object-fit: cover;
        }
        .upload-avatar-btn {
          position: relative;
	        overflow: hidden;
        }
        .avatar-upload {
          position: absolute;
        	top: 0;
        	right: 0;
        	margin: 0;
        	padding: 0;
        	font-size: 20px;
        	cursor: pointer;
        	opacity: 0;
        	filter: alpha(opacity=0);
        }
      }

      .username {
        font-size: 26px;
        color: color($colors, white);
        display: block;
        width: 100%;
        text-align: center;
        margin: 21px 0;
      }
      .blocked-info {
        text-align: center;
        color: color($colors, bk-red);
      }

      .description {
        color: #fff;
        text-align: center;
      }
    }

    .slides {
      height: auto;
      color: #fff;

      .swiper-slide {
        font-size: 1.0em;
      }

      .avatar {
        width: 42px;
        height: 42px;
        margin: 0 auto 3px;

        img {
          border-radius: 100%;
        }
      }

      .name {
        font-size: 12px;
      }

      .swiper-container {
        padding-top: 23px;

        .swiper-pagination {
          display: block !important;
          bottom: 0;
          left: 0;
          top: -1px;
          text-align: right;

          .swiper-pagination-bullet {
            background: #fff;
            opacity: 1;
          }

          .swiper-pagination-bullet-active {
            background: #ff204f;
          }
        }
      }
    }

    .row {
      &.facebook {
        border-top: 2px solid #b8b8b8;

        label {
          position: absolute;
          color: #fff;
          font-size: 1.1em;
        }
      }
      .connect-accounts {
        width: 100%;
        border-radius: 100px;
        text-transform: none;
        border: none;
        &.button-ios {
          height: 2.2em;
          font-size: 1.3rem;
        }
      }
    }
	
	.weekly-btn{
		float: right;
		border-color: #000; 
		.checkbox-checked {
			border-color: #000;
			background-color: #fff;
			color: #000;
			.checkbox-inner {
				border-color: #000;
				width: 5px;
			}
		}
	}
  }

  // SLIDERS AND VIDEOS IN POSTS
  .content {
    .post {
      position: relative;
      padding: 10px 5px;
      padding-top: 0;
      .card {
        margin: 0;
        &.has-media {
          border-radius: 16px 16px 0 0;
        }
      }
      img {
        width: 100%;
      }
      video {
        max-height: 400px;
        width: 100%;
      }
      .slides {
        .swiper-container {
          padding-top: 0;
        }
        .swiper-pagination {
          top: 10px;
          text-align: center;
          .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
            background: rgba(255, 255, 255, .6);
            opacity: 1;
            border: 1px solid #ccc!important;
            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: color($colors, bk-active-blue);
            }
          }
        }
      }
      .swiper-slide {
        align-items: center;
        .slide-zoom {
          height: 360px;
          max-height: 360px;
          video, img {
            top: 0;
          }
          img {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  .feedback-button{
	width: 26px;
    height: 26px;
    border-radius: 50px;
    padding: 0px;
    z-index: 3;
	background-color: #5b87aa;
	.icon{
		-webkit-mask: url(../assets/icon/lobby-icon.svg) no-repeat 75%;
		background: #fff;
		pointer-events: none;
		width: 70%;
		height: 70%;
		display: block;
		z-index: 3;
		margin: 0 auto;
	}
  }
} // end of page-profile

.address-link {
  text-align: center;
}

// Vlad
#profile-list-sliding{
  max-width: 250px;
  margin: 15px auto;

  ion-item-sliding{
    overflow: visible;
    background-color: transparent;
  }
  .button.slide-item-bg-button{
    padding: 0 100px;
    visibility: hidden;
  }
  ion-item{
    font-size: 1.2em;
  }
  ion-item,
  .button.slide-item-bg-button{
    background-color: transparent;
  }
  ion-item.avatar-container{
    width: 47px;
    height: 47px;
    position: absolute;
    z-index: 999;
  }
  .label{
    padding: 2px 35px;
  }
  ion-item-options{
    border: none;
  }
}
