<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>650336583017-939jvgp8opgdvj32q4v00pt9f6r1t30s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650336583017-939jvgp8opgdvj32q4v00pt9f6r1t30s</string>
	<key>API_KEY</key>
	<string>AIzaSyA6SZucsmEn9CjZ0Yup-fgfGR0Vza2w8Og</string>
	<key>GCM_SENDER_ID</key>
	<string>650336583017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netwrk.ios</string>
	<key>PROJECT_ID</key>
	<string>testapp-eaa48</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-eaa48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650336583017:ios:aa64d52d3ccbe5d1</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-eaa48.firebaseio.com</string>
</dict>
</plist>