page-sign-up-contact-list {
  .header {
    .text-ios-bk {
      font-size: 1.6rem;
    }
  }

  .select-all {
    margin-right: 33px;
    text-transform: capitalize;
  }

  .item-block.item-checkbox {
    padding-left: 0;

    .item-inner {
      padding: 0 23px;
    }

  }

}
