page-sign-up {
  .item-block {
    padding-left: 0;
  }
  .dob_title{
	margin-bottom: 10px;
    position: relative;
    font-size: 20px;
    color: #5b87aa;
    text-align: center;
  }
 
}
 .picker-columns{
	padding: 0 40px;
  }