<ion-header class="incognito-header chat-header">
  <div class="netwrk-header">
    <ion-toolbar class="area-head no-bg">
      <span>Area legend</span>
      <img class="ic legendary-icon" src="assets/images/sun_icon.png">
    </ion-toolbar>
  </div>
</ion-header>

<ion-content has-main-btn has-main-btn-label no-bounce
(ionScrollEnd)="listenForScrollEnd($event)">
  <ion-refresher (ionRefresh)="refreshLegendaryList($event)"
                  *ngIf="areSomeLegendary">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="ios">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!areSomeLegendary && !chatPrvd.users[userId]">
    <div class="no-legendary">
      <img (click)="joinNetwork()"  class="join-network" src="assets/images/netwrk_plus.svg">
      <span class="text left">and be the first to add to the story</span>
    </div>
  </ng-container>
  <ng-container *ngIf="!areSomeLegendary && chatPrvd.users[userId]">
    <div class="no-legendary">
      <h3 class="text">Be the first to add to the story</h3>
    </div>
  </ng-container>
  <div class="chat-container visible" *ngIf="areSomeLegendary">
    <div class="message" *ngFor="let message of lgMessages; let i = index"
         [@fadeState]="'fadeInVeryFast'">
      <ng-container *ngIf="!message.has_expired">
        <img *ngIf="message.user"
          (click)="goToProfile(message.user_id, message.public)"
          [src]="message.public
            ? message.user.avatar_url
            : message.user.hero_avatar_url"
          class="chat-avatar"
          (error)="chatPrvd.updateAvatarUrl($event)">
        <img *ngIf="!message.user"
          (click)="goToProfile(message.user_id, message.public)"
          [src]="toolsPrvd.defaultAvatar"
          class="chat-avatar"
          (error)="chatPrvd.updateAvatarUrl($event)">
        <p class="message-container">
          <span class="username" *ngIf="message.user">
            <ng-container *ngIf="message.public">
              {{ message.user.name }}
            </ng-container>
            <ng-container *ngIf="!message.public">
              {{ message.user.role_name }}
            </ng-container>
          </span>
          <span class="message-date">{{ message.dateStr }}</span>
          <span *ngIf="message.social" class="shared-status">Casted via {{ message.social }}
            <a *ngIf="message.post_url" href="{{ message.post_url }}"
                class="open-post">
              <ion-icon ios="ios-open-outline" md="ios-open-outline"></ion-icon>
            </a>
          </span>
          <span *ngIf="message.expire_at" class="visible-for">
            Expires in {{ message.expire_at }}
          </span>
          <ng-container *ngIf="message.expire_at && !message.has_expired">
             <ion-icon ios="ios-timer-outline" md="ios-timer-outline"
                class="will-expire info-icon"></ion-icon>
          </ng-container>
          <ng-container *ngIf="!message.locked_by_user ||
                        (message.locked_by_user && userId == message.user_id)">
            <ng-container *ngIf="message.locked_by_user">
              <ion-icon ios="ios-lock" md="ios-lock"
              class="locked-by-you info-icon"></ion-icon>
            </ng-container>
            <span *ngIf="message.text_with_links" class="text"
                  [ngClass]="{ 'emoji' : message.is_emoji }"
                  [innerHTML]="message.text_with_links"
                  (click)="toolsPrvd.handleLinkClick($event)"></span>
          </ng-container>

          <ng-container *ngIf="message.locked_by_user">
            <ng-container *ngIf="userId != message.user_id">
              <span *ngIf="message.text_with_links" class="text"
                    [ngClass]="{ 'emoji' : message.is_emoji }"
                    (click)="toolsPrvd.handleLinkClick($event)"><i>[Message locked]</i></span>
            </ng-container>
          </ng-container>
        </p>

        <button class="feedback-button" (tap)="openFeedback(message, i)"
                *ngIf="!message.locked_by_user || userId == message.user_id">
        </button>

        <ng-container *ngIf="userId != message.user_id && message.locked_by_user">
          <button class="feedback-button lock" (tap)="showUnlockPostForm(message.id, message.hint)">
            <ion-icon ios="ios-lock" md="ios-lock"></ion-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="message.locked_by_user && userId == message.user_id ||
                            !message.locked_by_user">
          <ion-slides *ngIf="message.image_urls.length +
                             message.video_urls.length > 1" pager="true"
                      (ionSlideDidChange)="messageSliderChange($event)">
            <ion-slide *ngFor="let img of message.image_urls">
              <img src="{{img}}" (load)="chatPrvd.calcLoadedImages()"/>
            </ion-slide>
            <ion-slide *ngFor="let vid of message.video_urls">
              <div class="play-btn" (click)="videoservice.toggleVideoVolume($event)"></div>
              <video poster="{{vid.poster}}" loop playsinline>
                <source src="{{vid.url}}">
              </video>
            </ion-slide>
          </ion-slides>
          <ng-container *ngIf="message.image_urls.length +
                               message.video_urls.length <= 1">
            <ng-container *ngIf="message.image_urls.length > 0">
              <img *ngFor="let j of message.image_urls" src="{{j}}"
              (load)="chatPrvd.calcLoadedImages()"/>
            </ng-container>
            <ng-container *ngIf="message.video_urls.length > 0">
              <div class="play-btn" (click)="videoservice.toggleVideoVolume($event)"></div>
              <video *ngFor="let vid of message.video_urls" loop playsinline
              poster="{{vid.poster}}">
                <source src="{{vid.url}}">
              </video>
            </ng-container>
          </ng-container>

        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-content>

<ion-footer>
  <button class="main-action-btn transparent small small-icon" ion-button
          color="bk" outline (click)="closeModal()">
    <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
  </button>
</ion-footer>
