<ion-header class="incognito-header chat-header">
  <div class="netwrk-header">
    <ion-toolbar class="area-head no-bg">
      <span>Area legend</span>
      <img class="ic legendary-icon" src="assets/images/sun_icon.png">
    </ion-toolbar>
  </div>
</ion-header>

<ion-content has-main-btn has-main-btn-label>
  <ion-refresher (ionRefresh)="refreshLegendaryList($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="ios">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!areSomeLegendary && !chatPrvd.users[userId]">
    <div class="no-legendary">
      <img (click)="joinNetwork()"  class="join-network" src="assets/images/netwrk_plus.svg">
      <span class="text left">and be the first to add the story</span>
    </div>
  </ng-container>
  <ng-container *ngIf="!areSomeLegendary && chatPrvd.users[userId]">
    <div class="no-legendary">
      <h3 class="text">Be the first to add the story</h3>
    </div>
  </ng-container>
  <div class="chat-container visible" *ngIf="areSomeLegendary">
    <div class="message" *ngFor="let message of lgMessages; let i = index"
         [@fadeState]="'fadeInVeryFast'">
      <img *ngIf="message.user"
        (click)="goToProfile(message.user_id, message.public)"
        [src]="message.public
          ? message.user.avatar_url
          : message.user.hero_avatar_url"
        class="chat-avatar">
      <img *ngIf="!message.user"
        (click)="goToProfile(message.user_id, message.public)"
        [src]="toolsPrvd.defaultAvatar"
        class="chat-avatar">
      <p class="message-container">
        <span class="username" *ngIf="message.user">
          <ng-container *ngIf="message.public">
            {{ message.user.name }}
          </ng-container>
          <ng-container *ngIf="!message.public">
            {{ message.user.role_name }}
          </ng-container>
        </span>
        <span class="message-date">{{ message.dateStr }}</span>
        <span *ngIf="message.social" class="shared-status">Shared via {{ message.social }}</span>
        <span *ngIf="message.isTemporary" class="visible-for">
          <ion-icon ios="ios-time-outline" md="ios-time-outline"></ion-icon>
          {{ message.temporaryFor }}
        </span>
        <span *ngIf="message.text" class="text"
              [ngClass]="{ 'emoji' : message.is_emoji }">{{ message.text }}</span>
      </p>
      <button class="feedback-button" (click)="openFeedback(message, i)"
        *ngIf="!message.locked">
      </button>
      <button class="feedback-button lock"
        *ngIf="message.locked">
        <ion-icon ios="ios-lock" md="ios-lock"></ion-icon>
      </button>
      <img *ngFor="let j of message.image_urls" src="{{j}}"
            (load)="chatPrvd.calcLoadedImages()"/>
    </div>
  </div>
</ion-content>

<ion-footer>
  <button ion-button color="bk"
    class="main-action-btn transparent small"
    (click)="closeModal()" outline>
    <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
  </button>
</ion-footer>
