page-log-in {
  .content {
    .scroll-content {
      bottom: 0!important;
    }
  }
  ion-grid.login-grid{
    opacity: 0;
  }
  .item-block {
    padding-left: 0;
  }

  .login-caption {
    margin: 0;
    font-weight: 500;
    font-size: 1.1em;
  }
  .login-subcaption {
    margin-top: 3px;
    font-size: 0.75em;
  }
  .main-action-btn {
    z-index: 3;
  }
  .row.top-form-row {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    max-width: 400px;
    margin: auto;
    background: #fff;
    z-index: 2;
  }
  form {
    .list {
      &.ios {
        margin-bottom: 10px;
      }
    }
    .item {
      &.item-md {
        background-color: transparent;
        z-index: 2;
        .item-inner {
          background: #fff;
          &:last-child {
            border-bottom-color: transparent;
          }
        }
        &.has-border {
          border-bottom: none;
          .item-inner {
            border-bottom: 1px solid #dedede;
          }
        }
        &.ng-invalid.ng-touched:not(.input-has-focus):last-child,
        &.input-has-focus:last-child {
          box-shadow: none;
        }
      }

      &.item-ios {
        background: transparent;
        z-index: 2;
        .item-inner {
          background: #fff;
        }
        &.has-border {
          .item-inner {
            border-bottom: 1px solid #dedede;
          }
        }
      }
    }
    button.login {
      background: transparent;
      color: color($colors, bk);
      margin: 5px auto;
      display: block;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: none;
    }
  }

  .footer {
    .login-btns-container {
      padding: 0 20px;
      height: 80px;
      [item-left], [item-right] {
        margin: 0;
      }
      .item-inner {
        padding-right: 0;
        border: none;
      }
      button {
        opacity: 1;
        height: 26px;
        width: 86px;
        border-radius: 17px;
        box-shadow: none;
        font-size: 13px;
        &.debug-btn{
          width: 120px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
  .tip {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% + 60px);
    font-size: 10px;
    &:before {
      width: 35px;
      height: 15px;
      top: -6px;
    }
  }
  .transparent {
    background: transparent;
    background-color: transparent;
  }
}
