page-log-in {
  .content {
    .scroll-content {
      bottom: 0!important;
    }
  }
  ion-grid.login-grid{
    opacity: 0;
  }
  .item-block {
    padding-left: 0;
  }

  .login-caption {
    margin: 0;
    font-weight: 500;
    font-size: 1.2em;
  }
  .login-subcaption {
    margin-top: 3px;
    font-size: 0.75em;
  }
  .main-action-btn {
    z-index: 3;
  }

  form {
    .item {
      &.item-md {
        background-color: transparent;
        z-index: 2;
        .item-inner {
          background: #fff;
          &:last-child {
            border-bottom-color: transparent;
          }
        }
        &.has-border {
          border-bottom: none;
        }
        &.ng-invalid.ng-touched:not(.input-has-focus):last-child,
        &.input-has-focus:last-child {
          box-shadow: none;
        }
      }

      &.item-ios {
        background: transparent;
        z-index: 2;
        .item-inner {
          background: #fff;
        }
        &.has-border {
          .item-inner {
            border-bottom: 1px solid #dedede;
          }
        }
      }
    }
  }

  .footer {
    .login-btns-container {
      padding: 0 20px;
      height: 80px;
      [item-left], [item-right] {
        margin: 0;
      }
      .item-inner {
        padding-right: 0;
        border: none;
      }
      button {
        opacity: 1;
        height: 42px;
        width: 86px;
        border-radius: 17px;
        box-shadow: none;
        &.debug-btn{
          width: 120px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
  .transparent {
    background: transparent;
    background-color: transparent;
  }
}
