// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 15px 5px rgba(249, 94, 101, .8),
    0 0 10px 5px rgba(249, 94, 101, .8) inset;
  }
  25% {
    box-shadow: 0 0 15px 5px rgba(93, 165, 216, .7),
    0 0 10px 5px rgba(93, 165, 216, .7) inset;
  }
  50%   {
    box-shadow: 0 0 15px 5px rgba(91, 135, 170, .7),
    0 0 10px 5px rgba(91, 135, 170, .7) inset;
  }
  75% {
    box-shadow: 0 0 15px 5px rgba(93, 165, 216, .7),
    0 0 10px 5px rgba(93, 165, 216, .7) inset;
  }
  100% {
    box-shadow: 0 0 15px 5px rgba(249, 94, 101, .8),
    0 0 10px 5px rgba(249, 94, 101, .8) inset;
  }
}

@-webkit-keyframes textGlow {
  0% {
    text-shadow: 0 0 5px rgba(249, 94, 101, .8),
  }
  25% {
    text-shadow: 0 0 5px rgba(93, 165, 216, .7),
  }
  50%   {
    text-shadow: 0 0 5px rgba(91, 135, 170, .7),
  }
  75% {
    text-shadow: 0 0 5px rgba(93, 165, 216, .7),
  }
  100% {
    text-shadow: 0 0 5px rgba(249, 94, 101, .8),
  }
}

@-webkit-keyframes bgTransition {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes bgTransitionHalf {
  from {
    top: 100vh;
  }
  to {
    top: 20vh;
  }
}

// iPad fixes
ion-app {
  .platform-ipad {
    page-network-no {
      .row {
        .be-founder {
          font-size: 0.6em;
          line-height: normal;
        }
      }
      .heading {
        p {
          &.head {
            font-size: 0.8em;
          }
          &.sub-head {
            font-size: 0.6em;
          }
        }
      }
    }
    page-network-contact-list {
      .header {
        .send-messages-header {
          font-size: 0.8em;
        }
      }
      .list {
        .item-ios {
          .text-ios-bk {
            font-size: 1em;
          }
        }
      }
    }
    modal-feedback {
      ion-content {
        &.content {
          ion-list {
            height: 45%;
          }
        }
      }
      .toolbar {
        margin-top: 20px;
      }
    }
    page-chat {
      .footer {
        .item {
          .item-inner {
            .text-input {
              font-size: 0.6em;
            }
          }
        }
      }
    }
  }
}

ion-app {
  .content[city-bg-animated] {
    .city-container {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      .city-bg {
        position: absolute;
        background: url('../assets/images/city-bg_c_tw.png') no-repeat left,
                    url('../assets/images/waves_test.gif');
        background-size: cover, 70px;
        background-position-y: 0px;
        width: 100%;
        height: 100%;
        &.half {
          animation: bgTransitionHalf 2s ease-out;
          -webkit-animation-fill-mode: forwards;
        }
        &.top {
          animation: bgTransition 2s ease-out;
          -webkit-animation-fill-mode: forwards;
        }
      }
      .faces {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('../assets/images/faces_full.svg') no-repeat center;
        background-size: contain;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
  }
  .anim-glow {
    animation: glow 10s ease-out infinite;
  }
  .anim-text-glow {
    animation: textGlow 10s infinite;
  }

  .item {
    &.no-style {
      background: transparent;
      padding: 0;
      .item-inner {
        border: 0!important;
        border-radius: 0;
        padding: 0;
      }
    }
  }

  ion-alert.alert-ios,
  ion-alert {
    .alert-wrapper {
      border: 1px solid color($colors, bk);
      border-radius: 17px!important;
    }
    .alert-sub-title {
      font-weight: bold;
      font-size: 16px;
      color: color($colors, bk);
    }
    .alert-button {
      border-top: 1px solid color($colors, bk);
      color: color($colors, bk);
    }
    &.alert-md {
      .alert-head {
        border-bottom: 1px solid color($colors, bk);
      }
      .alert-wrapper {
        .alert-button-group {
          flex-wrap: nowrap;
          justify-content: center;
          padding: 0;
        }
      }
      .alert-button {
        border-top: none;
        border-radius: 0;
        border-right: 1px solid color($colors, bk);
        margin: 0;
        width: 100%;
        color: color($colors, bk);
        .button-inner {
          justify-content: center;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .toast-ios,
  .toast-md {
    .toast-wrapper {
      background: #fff;
      border: 1px solid color($colors, bk);
    }
    .toast-message {
      color: color($colors, bk);
      font-weight: 500;
    }
  }

  .tip {
    color: #fff;
    font-size: 18px;
    border-radius: 13px;
    background: color($colors, bk);
    padding: 2px;
    width: 128px;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      background: color($colors, bk);
      top: -4px;
      height: 15px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      z-index: -1;
    }
  }
}

ion-app .ion-page .content {
  &[has-main-btn] {
    .scroll-content {
      padding-bottom: 142px;
      margin-bottom: 0px !important;
    }

    &[has-main-btn-label] .scroll-content {
      padding-bottom: 150px;
    }
  }
}

.header-ios {
  padding-top: 16px;
}

.slide-container {
  width: 33.3%;
  height: 26px;
  position: relative;
  float: left;
  input[type="checkbox"]{
    width: 0;
    height: 0;
    opacity: 0;
  }
  .toggle-el {
    position: relative;
    width: 100px;
    margin: 0 auto;
    border-radius: 13px;
    height: 26px;
    background: color($colors, white);
    transition: all 0.3s ease-out;
    text-align: center;
    &.active{
      .toggle-state{
        color: color($colors, white);
      }
    }
    .toggle-state {
      line-height: 28px;
      color: #000;
      font-size: 9px;
      text-transform: uppercase;
      transition: all 0.3s ease-out;
    }
    .toggleable {
      width: 26px;
      height: 26px;
      position: absolute;
      left: 0px;
      top: 0;
      border-radius: 50%;
      background: color($colors, white);
      box-shadow: 0px 5px 9px -4px rgba(0, 0, 0, .3);
      transition: all 0.3s ease-out;
      &.right{
        left: 75px;
      }
      .icon {
        line-height: 28px;
      }
    }
  }
  &.sl-facebook {
    .toggle-el.active {
      background: #195e99;
    }
    .icon {
      color: #195e99;
    }
  }
  &.sl-twitter {
    .toggle-el.active {
      background: #0093ee;
    }
    .icon {
      color: #0093ee;
    }
  }
  &.sl-linkedin {
    .toggle-el.active {
      background: #0077b5;
    }
    .icon {
      color: #0077b5;
    }
  }
  &.sl-instagram {
    .toggle-el.active {
      background: #c13584;
    }
    .icon {
      color: #c13584;
    }
  }
}

.main-action-btn {
  position: absolute;
  bottom: 68px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background: transparent;
  box-shadow: 0 0 10px rgba(255,255,255,0.8);
  padding: 0;
  box-sizing: content-box;
  .forward-arrow {
    font-size: 40px;
    color: color($colors, bk);
  }
  &.transparent {
    background: transparent;
    box-shadow: none;
  }
  &.big {
    width: 54px;
    height: 90px;
    border-width: 5px;
    border-radius: 11px;
  }

  &.medium {
    width: 54px;
    height: 90px;
    border-width: 5px;
    border-radius: 11px;
  }

  &.small {
    width: 26px;
    height: 42px;
    border-width: 3px!important;
    border-radius: 4px;
  }
  &.anim-glow {
    background: transparent;
  }

  button {
    width: 100%;
    height: 100%;
  }
  .custom-text-icon {
    font-size: 32px;
    margin-bottom: 4px;
  }
  .icon{
    &.small {
      font-size: 40px;
      color: color($colors, bk);
    }
  }
}

.footer {
  text-align: center;
  border-top: none;

  &.has-input {
    height: auto;
  }

  .main-action-text {
    font-size: 14px;
    background: #fff;
    padding: 1px 5px;
    border-radius: 5px;
    position: relative;
    bottom: 26px;
  }

  .footer-back-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    height: 40px;
    margin: 0;
    background: none;
    box-shadow: none;

    &.activated {
      background: none;
    }
  }
}

.button {
  text-transform: none;
}

.footer-md::before {
  background: none;
}

.list-ios > .item-block:first-child {
  border-top: none;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none;
}

// .datetime-ios {
//   padding: 0;
// }
.datetime-md {
  padding-left: 9px;
}

.or-divider {
  margin: 8% 0;
  border: none;
  padding-left: 0;
  background: none;
}

.item-input,
.item-datetime {
  &.item-block {
    .item-inner {
      border: 1px solid #dedede;
    }
  }

  .item-inner {
    border-color: color($colors, bk);
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    margin-bottom: 10px;
  }

  .text-input-ios {
    margin-left: 15px;
  }
}

.text-input-ios {
  padding: 0 8px;
}

.item-md {
  &.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  &.item-datetime.input-has-value:not(.input-has-focus) .item-inner {
    border: 1px solid color($colors, bk);
    box-shadow: none;
  }

  &.item-input.input-has-focus .item-inner,
  &.item-md.item-datetime.input-has-focus .item-inner {
    border: 1px solid color($colors, bk);
    box-shadow: none;
  }
}

.checkbox-md {

  .checkbox-checked {

    .checkbox-inner {
      top: 2px;
      left: 7px;
      width: 9px;
      height: 14px;
    }

  }

  .checkbox-icon {
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-color: color($colors, bk);
  }

}

.item {
  &.item-block {
    &.item-right {
      .item-inner {
        padding-right: 0;
      }
    }
  }
  [item-right] {
    margin-right: 0;
  }
}

.content {
  .row {
    &.feed {
      border-top: 2px solid #b8b8b8;
      margin-top: 10px;
      .expire-in {
        display: block;
        font-size: 12px;
        color: color($colors, bk-red);
      }
      a.open-post {
        text-decoration: none;
        margin-left: 5px;
      }
      .feed-img {
        display: block;
        margin: auto;
        min-height: 70px;
      }
      .row {
        position: relative;
        margin-bottom: 6px;
        .social-card {
          position: absolute;
          top: 0px;
          max-width: 75%;
        }
        &.image-post {
          .card {
            width: auto;
            position: absolute;
            top: 0px;
            max-width: 75%;
          }
        }

        .col {
          padding: 0;

          &.likes {
            text-align: right;
            margin-right: 10px;
            position: absolute;
            top: 0px;
            right: 5px;
            width: auto;
            height: auto;
            padding: 0;
            .badge {
              margin-bottom: 0;
              display: block;
              span {
                float: left;
                margin: 0 3px;
                display: inline-block;
                line-height: 29px;
                font-size: 10px;
                text-shadow: 0px 2px 3px rgba(150, 150, 150, 0.5);
              }
              img {
                float: left;
              }
            }

            &.images {
              position: absolute;
              right: 5px;
              top: 0px;
            }
          }
        }
      }

      h3 {
        position: relative;
        color: #fff;
        text-align: center;
        top: -28px;
        font-size: 14px;

        span {
          background-color: #302f2f;
          padding: 0 10px;
          position: relative;
          top: 3px;
        }
      }

      .card {
        margin-top: 0;
        border-radius: 16px;
        max-width: 75%;

        .card-content {
          padding-top: 0;
          padding-bottom: 0;
        }

        .card-title {
          font-size: 14px;
          color: #4e4e4e;
        }

        p {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }

      .badge {
        background: none;
        color: #fff;
        margin-left: -3px;
        margin-bottom: 8px;
        padding: 0;
        &:after {
          content: '';
          clear: both;
          display: block;
        }

        .icon-img {
          width: 26px;
          height: 26px;
        }
      }

      .points {
        color: #fff;
        font-size: 0.9rem;
        margin-left: -4px;

        &.bad-rating {
          color: #ee708d;
        }
      }
    }
  }
}

ion-app#bk-app,
.transparent-background {
  background: transparent;
}


.ion-page,
.content {
  background: #fff;
}

form,
.custom-center-block {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 15px;
}

.custom-center-block {
  .label {
    margin: 0;
  }
}

.toolbar-md {
    min-height: 44px;
}

ion-header.incognito-header {
  & {
    z-index: 11;
    position: fixed;
  }
  .post-lock {
    background: #fff;
    padding: 0;
    form {
      margin: 13px auto;
      margin-bottom: 0;
      .item-input {
        padding-left: 0;
        input {
          margin-left: 15px;
        }
      }
      .item-input.no-mrgn {
        .item-inner {
          margin-bottom: 0;
        }
      }
      button.submit {
        background: transparent;
        color: color($colors, bk);
        font-size: 18px;
        height: auto;
        margin: 26px auto;
        margin-top: 16px;
        box-shadow: none;
      }
    }
    button.back {
      width: 25px;
      height: 40px;
      border-color: color($colors, bk);
      border-style: solid;
      border-width: 3px;
      border-radius: 7px;
      background: transparent;
      display: block;
      margin: auto;
      margin-bottom: 13px;
    }
  }
  .post-timer {
    overflow: hidden;
    z-index: 51;
    position: absolute;
    width: 100%;
    min-height: 0;
    padding: 0;
    button {
      display: block;
      background-color: color($colors, white);
      width: 100%;
      color: color($colors, bk);
      font-size: 22px;
      padding: 5px;
      margin: 0;
    }
  }
  span.top-profile {
    padding: 0;

    .profile-list-sliding {
      .label{
        padding: 0 35px;
      }
    }
    .avatar {
      top: 1px;
    }
  }
}

.drag-container{
  &{
    // width: 200px;
    width: 160px;
    height: auto;
    position: relative;
    margin: 0 auto;
  }
  .dragline{
    &{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 15px;
      margin: auto;
      background: #fff;
      border-radius: 20px;
      text-align: center;
      border: 1px solid color($colors, bk);
      box-sizing: content-box;
    }
    .info{
      &{
        position: absolute;
        left: 0;
        right: 0;
        font-size: 12px;
      }
      .username{
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100px;
        line-height: 15px;
        height: 100%;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
      }
    }
    .icon{
      position: absolute;
      // font-size: 17px;
      transform: rotate(0deg);
      margin: auto 5px;
      // color: #b7b7b7;
      left: 9px;
      width: 21px;
      width: 17px;
      top: 0;
      bottom: 0;
    }
    .icon.right{
      right: 9px;
      left: auto;
      transform: rotate(180deg);
    }
  }
  .draggable-element {
    display: block;
    position: relative; /* important (all position that's not `static`) */
    width: 26px;
    height: 26px;
    top: -23px;
    left: -23px;
    border-radius: 50%;
    background-color: transparent;
    border: 18px solid transparent;
    box-sizing: content-box;
  }

  .transition{
    transition: .3s;
  }
}

.ios .ion-page.show-page ~ .nav-decor {
  background: transparent!important;
}

modal-feedback,
modal-feedbackshare,
modal-sharelist {
  background: transparent;
  .users-list {
    &.item-block .item-inner {
      border-bottom: none;
    }
    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: block;
      float: left;
      margin-right: 13px;
      background: color($colors, bk);
    }
    .username {
      float: left;
      display: block;
      line-height: 44px;
      color: color($colors, bk);
    }

  }
  .badge {
    position: absolute;
    right: 13px;
    bottom: 13px;
    padding: 3px 6px;
    background-color: color($colors, bk-active-blue);
  }

  .toolbar {
    padding: 13px;
    &.translucent {
      .toolbar-background {
        background-color: transparent;
      }
    }
    .legendary-btn {
      width: 42px;
      height: 42px;
      border-radius: 11px;
      border: 1px solid #eee;
      background: url('../assets/icon/legendary_dis.svg') no-repeat center;
      background-color: color($colors, bk);
      background-size: 90% auto;
      &.active {
        background: url('../assets/icon/legendary_act.svg') no-repeat center;
        background-color: color($colors, white);
        background-size: 90% auto;
      }
      .badge {
        bottom: -4px;
        left: -7px;
        right: auto;
      }
    }
  }

  ion-content.content.share-content {
    display: flex;
    align-content: center;
    .row[align-items-center] {
      height: 100%;
    }
    .share-spinner {
      top: 50px;
    }
    .inner-container {
      position: absolute;
      max-width: 400px;
      width: 100%;
      padding: 13px;
      color: color($colors, bk);
      left: 0;
      right: 0;
      margin: auto;
    }
    .head {
      font-size: 16px;
      color: color($colors, bk);
      text-align: center;
    }
    .grid {
      position: relative;
      .col {
        padding: 7px 0;
      }
      .share-btn {
        border-radius: 13px;
        height: 26px;
        width: 68px;
        float: right;
        background: color($colors, bk);
        color: color($colors, white);
      }
      .icon {
        font-size: 26px;
        float: left;
        position: absolute;
        left: 0;
      }
      .social-name {
        display: block;
        height: 100%;
        float: left;
        line-height: 26px;
        margin-left: 44px;
      }
      .separator-word {
        display: block;
        text-align: center;
        margin: 26px auto;
        font-size: 16px;
        color: color($colors, bk-stone);
      }
      .send-sms-btn {
        font-size: 16px;
        background: transparent;
        margin: auto;
        color: color($colors, bk);
      }
    }
  }
  ion-content.content {
    &.translucent {
      background: rgba(0, 0, 0, .7);
    }
    ion-list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(50% - 84px);
      button {
        display: block;
        width: 100%;
        border-bottom: 1px solid #c8c7cc;
        background: #fff;
        &.like-btn {
          height: 100%;
          background-color: color($colors, bk);
          position: relative;
          &.liked {
            background-color: color($colors, white);
            .like-bg {
              background: color($colors, bk);
            }
          }
          .like-bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 178px;
            height: 178px;
            margin: auto;
            -webkit-mask: url(../assets/icon/like.svg) no-repeat 50% 50%;
            background: #fff;
          }
        }
        &.secondary {
          height: 42px;
        }
        &:last-child {
          border: none;
        }
        &.share {
          margin: 0 auto;
          margin-top: 42px;
          border-radius: 22px;
          width: 110px;
        }
      }
    }
  }
  .footer {
    .main-action-btn.small {
      width: 25px;
      height: 40px;
      opacity: 0;
      border-color: color($colors, bk);
      border-style: solid;
      bottom: 67px;
      .icon {
        color: color($colors, bk);
      }
    }
  }
}

.icon[ios="logo-facebook"] {
  color: #195e99;
}
.icon[ios="logo-twitter"] {
  color: #0093ee;
}

.no-data-message {
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-shadow: 0px 2px 3px rgba(150, 150, 150, 0.6);
  &.abs {
    position: absolute;
    margin: auto;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.api-url {
  position: fixed;
  z-index: 20000;
  padding: 0;
  margin: 0;
  height: auto;
  background-color: transparent;
  span {
    padding: 2px;
    background: rgba(0, 0, 0, .5);
  }
}

page-sockets {
  .input[type="text"] {
    border: 1px solid #ccc;
  }
  .send-btn {
    background: lightseagreen;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 68px;
    color: #fff;
  }
}
