<ion-content class="translucent" no-bounce>
  <ion-toolbar class="translucent display"
  [ngClass]="{'liked' : postStatus.isLiked}"> 
  <!-- 'display' : displayToolbar,  -->
    <ng-container >
	<!-- *ngIf="displayToolbar" -->
      <span class="heading" >Add to the area's story</span>
	  <!-- [ngClass]="{ 'right' : isUndercover }"  -->
    </ng-container>
    <ion-buttons end>  
	<!-- [ngClass]="{'left' : isUndercover}" -->
      <button class="legendary-btn" (click)="toggleLikes('legendary')"
              [ngClass]="{ 'active' : postStatus.isLegendary,
                           'reversed' : isUndercover }">
        <img *ngIf="!postStatus.isLegendary" src="assets/icon/legendary_dis.svg">
        <img *ngIf="postStatus.isLegendary" src="assets/icon/legendary_act.svg">
        <ion-badge>{{ postInf.totalLegendary }}</ion-badge>
        <!-- <div class="tag" *ngIf="isUndercover && displayToolbar">Pin it</div> -->
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list [ngClass]="{ 'has-top-bar': displayToolbar }">
    <button #likebutton class="like-btn" (click)="toggleLikes('like')"
            [ngClass]="{ 'liked': postStatus.isLiked }">
      <div class="like-bg"></div>
      <ion-badge>{{ postInf.totalLikes }}</ion-badge>
    </button>
   <!--  <button *ngIf="chatPrvd.getState() == 'undercover'" class="secondary share"
    (click)="goShare()">Share location</button>
    <button *ngIf="chatPrvd.getState() == 'area'" class="secondary share"
    (click)="goShare()">Share</button> -->
  </ion-list>
</ion-content>


<ion-footer class="footer">
  <button ion-button isScrolling="false" tapable color="bk"
          class="main-action-btn small has-footer transparent chatMainBtn small-icon"
          (click)="closeModal()" [@fadeState]="mainBtn.state" style="opacity: 1!important">
    <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
  </button>
  <button ion-button class="footer-back-button light-col left"
          (tap)="blockMessage()">
    <span ion-text color="bk">block</span>
  </button>
  <button ion-button class="footer-skip-button light-col"
          (tap)="report.message(likeData.message_id)">
    <span ion-text color="bk">report this</span>
  </button>
</ion-footer>
