<ion-content padding isScrolling="false" no-bounce>
  <div *ngIf="imgBg" class="img-preview" [ngStyle]="{'background-image': imgBg ? imgBg : 'transparent'}"></div>
  <ion-grid>
    <ion-row align-items-end>
      <ion-col>
        <div *ngIf="!imgBg && chatPrvd.storage.get('first_time_camera') === null" class="tooltip" [@cameraUIstate]="cameraUI.tooltip">
          Tap for a picture
          <div></div>
        </div>
        <button ion-button *ngIf="!imgBg" [@cameraUIstate]="cameraUI.button"
          class="take-photo" (click)="takePhoto()"
          outline color="bk">
          <div class="white"></div>
        </button>
      </ion-col>

      <button *ngIf="imgBg" ion-button class="camera-cancel-button" (tap)="cancelSave()">
        <ion-icon ios="ios-close" md="ios-close"></ion-icon>
      </button>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <button *ngIf="!imgBg" class="switch-camera" ion-button clear (click)="switchCamera()">
    <img class="sun-icon" src="assets/images/switch_camera_icon.png">
  </button>
  <button *ngIf="!imgBg" ion-button color="bk"
    class="main-action-btn transparent small"
    (click)="goBack()" outline>
  <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
  </button>

  <button isScrolling="false" tapable *ngIf="imgBg" [@mainBtnState]="mainBtn.state" color="bk"
  class="main-action-btn big has-footer transparent border" (tap)="saveImage()"></button>

</ion-footer>
