
<ion-header class="ios-head">
    <ion-toolbar>
        <ng-container>
            <ion-row class="loading bg-text" align-items-center>
                <ion-col text-center>
                    <h1 ion-text color="white">Hello, here are the networks near you.</h1>
                </ion-col>
            </ion-row>
        </ng-container>

        <div ion-text color="bk" class="area-subhead-tip">
            <span class="subhead-container" (click)="resetFilter()">
                <div class="flex-ch netwrk-name">
                    <span *ngIf="chatPrvd.holdFilter" class="username" >
                        15 Miles
                    </span>
                    <span *ngIf="!chatPrvd.holdFilter" class="username">
                        All
                    </span>
                </div>

                <div class="flex-ch">
                    <button ion-button class="netwrk-icon">
                        <img class="netwrk-img" src="assets/icon/netwrk-chat.svg">
                    </button>
                </div>
                <div class="flex-ch">
                    <span class="netwrk-users">{{netwrkLineList.length}} </span> <ion-icon class="lobby-icon" ios="ios-close-circle" md="md-close-circle"></ion-icon>
                </div>
            </span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="connect arealist content"  no-bounce>

    <!--Loader on swap-->
    <ion-refresher (ionRefresh)="refreshChat($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="ios"></ion-refresher-content>
    </ion-refresher>


    <div class="chat-container visible">
       <div class="visible item-line" *ngFor="let message of netwrkLineList; let i = index" >
            <ng-container *ngIf="user.id != message.user_id">
                <img *ngIf="message.user" [src]="message.public ? message.user.avatar_url : message.user.hero_avatar_url" class="chat-avatar" (error)="chatPrvd.updateAvatarUrl($event)">
                <img *ngIf="!message.user" [src]="toolsPrvd.defaultAvatar" class="chat-avatar" (error)="chatPrvd.updateAvatarUrl($event)">

                <p class="message-container">
                    <span class="" [ngClass]="{ 'isFollowed' : message.is_followed }">
                        <ng-container class="total-line-point"><span>Point: {{message.points}}</span>, <span *ngIf="message.users_count">{{message.users_count}}</span> <span *ngIf="!message.users_count">0</span> Number of people in net </ng-container>
                    </span>

                    <span class="location">
                        <ng-container>
                            {{ message.place_name }}
                        </ng-container>
                    </span>

                    <ng-container>
                        <div>{{ message.text }}</div>
                    </ng-container>

                    <ng-container class="username" *ngIf="message.user">
                        <div *ngIf="message.public">
                        {{ message.user.name }}
                        </div>
                        <div *ngIf="!message.public">
                        {{ message.user.role_name }}
                        </div>
                    </ng-container>

                    <span class="message-date">{{ message.dateStr }}</span>
                </p>

                <button ion-button class="feedback-button" color="bk" item-end (click)="followNearByNetwork(message)" [ngClass]="{ 'isFollowed' : message.is_followed }" *ngIf="user.id != message.user_id">
                    <ion-icon ios="ios-add" md="md-add"></ion-icon>
                </button>

                <button ion-button class="feedback-button" color="bk" item-end (click)="goToProfile(message.user_id, message.public, message.user.role_name)" [ngClass]="{ 'isFollowed' : message.is_followed }"  *ngIf="user.id == message.user_id">
                    <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
                </button>
            </ng-container>
        </div>
    </div>

    <!--Infinite Loader on bottom scroll-->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>


<ion-footer>
  <button ion-button color="bk" class="main-action-btn medium transparent" outline (tap)="goToLanding()">
       <!--<ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline"></ion-icon>-->
  </button>
</ion-footer>
