

page-netwrklist {
  .content {
      .scroll-content {
        margin-top: 90px !important;
        padding-top: 0 !important;
        padding-bottom: inherit;
        border-top: none;
      }

    .text-connected {
      color: grey;
      font-size: 12px;
    }
  }
  .header-ios {
    padding-top: 0 !important;
  }

  ion-header {
    height: 90px !important;
    ion-toolbar {
      height: 100%;
    }
  }

  .bg-text {
    position: absolute;
    top: 8px;
    text-align: center;
    width: 100%;
    h1 {
      font-size: 20px;
      margin: 6px 0 !important;
      font-weight: lighter;
    }
  }

  .feedback-button {
    width: 37px !important;
    height: 37px !important;
    border-radius: 8px !important;
    position: absolute;
    right: 12px;
    padding: 8px 5px !important;
    font-size: 22px !important;
    top: 0;
    margin-top: 0 !important;
    z-index: 3;
    background: color($colors, bk);
    ion-icon {
      color:#fff;
      font-size: 22px;
    }
  }
  .location {
    font-size: 14px;
    color:#5b87aa;
    display: block;
  }
  .lockBtn {
    padding: 0px 8px !important;
    height: 30px !important;
  }

  .area-subhead-tip {
    font-size: 10px;
    text-align: center;
    position: relative;
    top: 20px;
    z-index: 99;
    width: 170px;
    min-width: 170px;
    margin: 0 auto;
    &.text-ios {
      top: 7px;
      height: 7px;
    }
    .subhead-container {
      display: flex;
      width: 170px;
      min-width: 170px;
      border-radius: 20px;
      border: 1px solid color($colors, bk);
      margin: auto;
      padding: 5px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      .flex-ch {
        width: 30%;
        white-space: nowrap;
        overflow:hidden;
        font-weight: bold;
        .md-person-icon {
          background: #5b87aa;
        }
        .lobby-icon{
          position: absolute;
          right: 4px;
          top: 3px;
          z-index: 3;
          float: right;
          font-size: 18px;
        }
        .netwrk-users {
          float: right;
          margin-right: 17px;
        }
        .netwrk-icon {
          border-radius: 50%;
          width: 35px;
          height: 35px;
          position: absolute;
          border: 1px solid #5b87aa;
          top: -9px;
          left: 70px;
          background: #fff;
          padding: 2px 5px 2px 5px;
          .netwrk-img {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}


