<ion-header class="ios-head">
   <!--  <ion-toolbar *ngIf="!showContactsStep && !holdSaveLM" class="connect-header">
        <ng-container>
            <ion-row class="loading bg-text" align-items-center>
                <ion-col text-center>
                    <h1 ion-text color="white">What are you trying to do?</h1>
                </ion-col>
            </ion-row>
        </ng-container>
	</ion-toolbar> -->
	
	<ion-toolbar *ngIf="showContactsStep && !holdSaveLM"  class="contact-header">
		<ng-container>
            <ion-row class="loading bg-text" align-items-center>
                <ion-col text-center>
                    <h1 ion-text>
						Fuego, I’ll delete it in 1 days if no one can kick it.<br>Your somvo is private unless posted to a public community.<br>
						Who should I send it to?
					</h1>
                </ion-col>
            </ion-row>
        </ng-container>
	</ion-toolbar>
</ion-header>

<ion-content class="content"  no-bounce [ngClass]="{'connect-content': (!showContactsStep || holdSaveLM), 'contact-content':showContactsStep }">

<div *ngIf="!showContactsStep && !holdSaveLM">
	<div class="chat-container visible">
		<div>
			<h1 ion-text color="white" class="connect-head">What do you want to do or talk about?</h1>
			<button (tap)="show_activity()" class="location-btn activity-btn">{{activitySelected}}</button>		
			<p *ngIf="locationSelected != ''">Near 
				<button class="location-btn" >
					<span class="remove-location" (tap)="remove_loaction()">X</span>
					<span class="location-span"  (tap)="select_loaction()">{{locationSelected}}</span>
				</button> 
				
			</p> 
			<p *ngIf="locationSelected == ''" class="flicker_me">Near 
				<button class="location-btn" (tap)="select_loaction()" >+</button> 
			</p> 
		</div>
	</div>
</div>

<div *ngIf="showContactsStep && !holdSaveLM" class="contacts-div">
	<div class="chat-container visible">	
		<div class="error" *ngIf="error_txt != ''">{{error_txt}}</div> 
		<div class="container-title">
			Communities 
		</div>
		<ng-container *ngFor="let post of posts | sort: {property: 'title', order: 1}">
		  <ion-row class="post" [ngClass]="{'new-community':newlyAdded != null && newlyAdded.id == post.id}">
			<div class="post-cont">
			  <img [src]="post.avatar_url" class="chat-avatar conversation"
				  (error)="chatPrvd.updateAvatarUrl($event)">

			  <div class="username">
				<ng-container>
				  {{ post.title}}
				  <span *ngIf="post.public" class="post-access">Public</span>
				  <span *ngIf="!post.public" class="post-access">Private</span>
				</ng-container>
				<ion-checkbox [disabled]="isDisabled && selectedCommunity[0].id != post.id" (ionChange)="selectMe(post,$event)" [checked]="newlyAdded && newlyAdded.id == post.id"  color="dark"></ion-checkbox>
			  </div> 
			</div>
		  </ion-row>		
		</ng-container>
		
		<ion-row class="post" >
			<div class="post-cont">
			  <img src="assets/icon/netwrk-chat.svg" class="chat-avatar conversation"
				  (error)="chatPrvd.updateAvatarUrl($event)">
			  <div class="username">
				<ng-container>
				  Create a new community
				</ng-container>
				<ion-checkbox color="dark" [disabled]="isDisabled" (ionChange)="createNewCommunityF($event)" [checked]="isCreateCheck"> </ion-checkbox> 
			  </div> 
			</div>
		</ion-row>		
		
		<div class="container-title top-margin-20">
			Friends
		</div>
		
		<ng-container *ngFor="let person of contacts | sort: {property: 'name', order: 1}">
		  <ion-row class="post" >
			<div class="post-cont">
			  <div class="username">
				<ng-container>
				  {{person.name}} 	
				</ng-container>
				<ion-checkbox color="dark" (ionChange)="selectPerson(person,$event)" ></ion-checkbox>
			  </div>
			  <div>
				{{person.phoneNumbers[0].value}}
			  </div>			  
			</div>
		  </ion-row>		
		</ng-container>
	</div>
</div>
<div *ngIf="holdSaveLM" class="wait-note">
	<span *ngIf="locationSelected != ''">Wait! We are sharing your activity '{{activitySelected}} near {{locationSelected}}'</span>
	<span *ngIf="locationSelected == ''">Wait! We are sharing your activity '{{activitySelected}}'</span>
</div>	

<div class="virtual-custom-scroll-wrapper" [ngStyle]="{'opacity': showActivitiesContainer && !showContactsStep?'1':'0'}">
	<div class="virtual-custom-scroll-container">  
		<ion-list [virtualScroll]="activity" approxItemHeight="3px" class="activity-list"> 
		  <ion-item *virtualItem="let activity_item">
			<button class="activity-btn" (tap)="select_activity(activity_item)">{{activity_item.itemName}}</button>
		  </ion-item>
		</ion-list>
	</div>
</div>

</ion-content>

<ion-footer *ngIf="!showActivitiesContainer">
	<button class="save-btn" (tap)="showContacts()" *ngIf="!showContactsStep && !holdSaveLM">
      <!-- <img  src="assets/images/netwrk_130_120.png" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"> -->
	  
	</button>
  
	<button ion-button color="bk" class="main-action-btn medium transparent" outline (tap)="goToLanding()" [ngClass]="{'bottom-margin':showContactsStep}" *ngIf="!showContactsStep" [disabled]="holdSaveLM">
	  <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
	  <!-- style="padding-left:3px;" -->
	</button>
	
	<button ion-button class="main-action-btn medium forward contacts-list-btn" outline (tap)="sendMessage()" [ngClass]="{'bottom-margin':showContactsStep}" *ngIf="showContactsStep">
	   <ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline"  style="padding-left:3px;"></ion-icon>
	</button>
	
	<ion-input #textInput id="textInput" type="text" class="message-input" [placeholder]="placeholderText" *ngIf="showContactsStep" (ionFocus)="inputOnFocus()">
	</ion-input>
	
	<button ion-button color="bk" class="back-btn" outline (tap)="goToLanding()" *ngIf="showContactsStep">
	   Back
	</button>
	
</ion-footer>
