page-netwrklist {
  .content {  
	  &.contact-content{
		background-color: #fff !important;
		
		.scroll-content {
			color: #5b87aa;
		}
		
		.post{
		    margin-bottom: 3px;
		}
		
		.checkbox{
			float: right;
			.checkbox-icon{
				border-color: #5b87aa; 
				border-radius: 100%;
			}			
			.checkbox-checked{
				border-color: #5b87aa; 
				background-color: #5b87aa;
			}
		}
		.contacts-div{ 
			position: absolute;
			width: 100%;
			z-index: 1;
		}
		  
		.container-title{
			border-top: 1px solid #5b87aa;
			border-bottom: 1px solid #5b87aa;
			font-size: 17px;
			font-weight: 500;
			padding: 0 5%;
			margin-bottom: 20px;
		}
		
		.post-cont {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			.username{
			  font-size: 16px;
			  font-weight: 500;
			  padding-top: 4px;
			}
		}
		
		.scroll-content{
		    margin-top: 80px !important;
			margin-bottom: 85px !important;
		}
		
		.chat-avatar{
		  border-radius: 50%;
		  width: 42px !important;
		  height: 42px;
		  margin: 0;
		  top: -7px;
		  z-index: 4;
		  background: #fff;
		  -o-object-fit: cover;
		  object-fit: cover;
		  left: -9px;
		  position: relative;
		  float: left;
		}
		
		.error{
			color: #f95e64;
			
		}
	  }
	  &.connect-content{
		  .scroll-content {
			padding-top: 0 !important;
			padding-bottom: inherit;
			border-top: none;
			color: #fff;
			text-align: center;
			margin-bottom: 0px !important;
		  }
		  .chat-container{
			text-align: center;
			font-size: 21px;
			margin-top: 25%;
			font-weight: 500;
		  }
		  
		  .activity-list{	  
			.item{
				padding: 0px;
				.activity-btn{ 
					color: #5b87aa;
					background:transparent;
					text-align:center;
					font-size: 35px;
					font-weight: 500;
					padding: 0;
				}			
				.item-inner{
					border:0px;
					background:transparent;
					padding: 0px;
					text-align: center;
				}
			}
			.scroll-content {
				color: #5b87aa;
			}
			
		  }
		  .location-btn{	  
			color: #5b87aa;
			background-color: #fff;
			padding: 10px 25px;
			border-radius: 100px;
			font-size: 35px;
			font-weight: 500;
			margin-left: 5px;		
		  }
	  }
	  
	  .virtual-custom-scroll-wrapper{
		background-color: #fff;
		height: 170px;
		padding: 10px 16px;
		position: absolute;
		bottom: 0;
		right: 0%;
		left: 0%;
		
	  }
	  .virtual-custom-scroll-container{
		height: 160px;
		overflow: scroll;
	  } 
	  button.remove-location {
		background: transparent;
		color: #f95e64;
		font-size: 20px;
		position: fixed;
	  }
	  .flicker_me{
		animation:blinkingText 4s infinite;
	  }
	  .flicker_loc{
		animation:blinkingBtn 4s infinite;
	  }
	  @keyframes blinkingText{
		0%{     color: #fff; }
		49%{    color: #fff; }
		50%{    color: #fff; }
		99%{    color: transparent; }
	  } 
	  @keyframes blinkingBtn{
		0%{     color: #5b87aa; }
		49%{    color: #5b87aa; }
		50%{    color: #5b87aa; }
		99%{    color: transparent; }
	  } 	  
  }
  
  .header{ 
    .contact-header{
		.toolbar-background{
			background-color:#fff;
		}
		.bg-text{
			h1{
				font-size: 16px;
				color: #5b87aa;
			}
		}
		.col{
			padding: 0px 5px;
		}
    }
  }
   
   
  ion-header {
    height: 53px;
	&.header-ios{
		padding-top: 15px;
	}
    ion-toolbar {
      height: 100%;
    }
  }

  .bg-text {
    position: absolute;
    top: 8px;
    text-align: center;
    width: 98%;
    h1 {
      font-size: 16px;
      margin: 0px !important;
    }
  }
  .top-margin-20{
		margin-top: 20px;
  }
	
  .footer{
	.save-btn{
		margin-bottom: 100px !important;
		border-radius: 50%;
		width: 98px;
        height: 98px;
		background-color: #fff;
		img {
			width: 100%;
		}
	}
	.bottom-margin{
		margin-bottom: 40px;
	}
	.message-input{
	    width: 90%;
		margin-left: auto;
		margin-right: auto;
		border: 1.5px solid #5b87aa;
		border-radius: 25px;
		padding-left: 7px;
		color: #5b87aa;
		background-color: #fff;
		.text-input{
			&::placeholder { 
			  color: #5b87aa; 
			}
		}
	}
	.back-btn{
		height: 20px;
		width: 35px;
		border: 0px;
		float: right;
		margin-right: 5%;
	} 
	
	.main-action-btn{
		width: 26px;
		height: 42px;
		/*width: 54px;
		height: 90px;*/
		border: 3px solid #5b87aa;
		border-radius: 4px;
		 .ion-ios-arrow-forward-outline{
			 font-size:25px;
		 }
	}
	
	.contacts-list-btn{
		width: 54px;
		height: 90px;
		border: 5px solid #5b87aa;
		bottom: 50px;
	}
	
	.main-action-btn.forward{
		background-color: #fff;
	}
	
	
  }

}


