<!-- <ion-header class="ios-head">
  <!-- <ion-toolbar *ngIf="!showContactsStep && !holdSaveLM" class="connect-header">
        <ng-container>
            <ion-row class="loading bg-text" align-items-center>
                <ion-col text-center>
                    <h1 ion-text color="white">What are you trying to do?</h1>
                </ion-col>
            </ion-row>
        </ng-container>
	</ion-toolbar> -->
	
	<!-- <ion-toolbar *ngIf="showContactsStep && !holdSaveLM"  class="contact-header">
		<ng-container>
            <ion-row class="loading bg-text" align-items-center>
                <ion-col text-center>
                    <h1 ion-text>
						Fuego, I’ll delete it in half a day if no one can kick it.
						Who should I send it to?						
					</h1>
                </ion-col>
            </ion-row>
        </ng-container>
	</ion-toolbar>
</ion-header> -->

<ion-content scroll="true" class="content"  no-bounce [ngClass]="{'connect-content': (!showContactsStep || holdSaveLM), 'contact-content':showContactsStep }">

<div *ngIf="!showContactsStep && !holdSaveLM">
	<div class="chat-container visible">
		<div>
			<h1 ion-text color="white" class="connect-head">What do you want to do or talk about?</h1>
			<button (tap)="show_activity()" class="location-btn activity-btn">{{activitySelected}}</button>		
			<p *ngIf="locationSelected != ''">Near 
				<button class="location-btn" >
					<span class="remove-location" (tap)="remove_loaction()">X</span>
					<span class="location-span"  (tap)="select_loaction()">{{locationSelected}}</span>
				</button> 
				
			</p> 
			<p *ngIf="locationSelected == ''" class="flicker_me">Near 
				<button class="location-btn no-location-btn" (tap)="select_loaction()" >+</button> 
			</p> 
			<p [ngClass]="{'flicker_me':activityDate == ''}">At 
				<button class="location-btn activity-datetime" (tap)="select_dateTime()" [ngClass]="{'no-datetime':activityDate == ''}"><span *ngIf = "activityDate == ''" > + </span> 
					<ion-datetime [max]="maxYear"
					[min]="minYear"
					displayFormat="DDD MMM D YYYY, h:mm A"
					pickerFormat="DDD MMM D YYYY, h:mm A"
					[(ngModel)]="activityDate">
					</ion-datetime>
				</button> 				
			</p> 
		</div>
	</div>
</div>

<div *ngIf="showContactsStep && !holdSaveLM" class="contacts-div">
	<div class="chat-container visible">	 
		<div class="lm-details"> 
			<img src="{{user.avatar_url}}" class="user-icon">
			<div class="title"> 
				<span> {{lm_title}} </span>
				<ion-input #textInput id="textInput" type="text" class="message-input" [placeholder]="placeholderText" *ngIf="showContactsStep" (ionFocus)="inputOnFocus()" (ionBlur)="inputOnBlur()" autocorrect="on">
				</ion-input>
				<span class="exp-note">Expires in 12 hours w/no activity</span>
			</div>
		</div>
		<div class="container-title">
			Pick a community to make it public or private
		</div>
		<ion-row class="post" >
			<div class="post-cont">
			  <img src="assets/icon/netwrk-chat.svg" class="chat-avatar conversation"
				  (error)="chatPrvd.updateAvatarUrl($event)">
			  <div class="username">
				<ng-container>
				  Create a new community
				</ng-container>
				<ion-checkbox color="dark" [disabled]="isDisabled" (ionChange)="createNewCommunityF($event)" [checked]="isCreateCheck"> </ion-checkbox> 
			  </div> 
			</div>
		</ion-row>		
		
		<ng-container *ngFor="let post of posts | sort: {property: 'title', order: 1}">
		  <ion-row class="post" [ngClass]="{'new-community':newlyAdded != null && newlyAdded.id == post.id}">
			<div class="post-cont">
			  <img [src]="post.avatar_url" class="chat-avatar conversation"
				  (error)="chatPrvd.updateAvatarUrl($event)">

			  <div class="username">
				<ng-container>
				  {{ post.title}}
				  <span *ngIf="post.public" class="post-access">Public</span>
				  <span *ngIf="!post.public" class="post-access">Private</span>
				</ng-container>
				<ion-checkbox [disabled]="isDisabled && selectedCommunity[0].id != post.id" (ionChange)="selectMe(post,$event)" [checked]="newlyAdded && newlyAdded.id == post.id"  color="dark"></ion-checkbox>
			  </div> 
			</div>
		  </ion-row>		
		</ng-container>
		
		<div class="container-title top-margin-20">
			Invite your people
		</div>
		
		<ng-container *ngFor="let person of contacts | sort: {property: 'name', order: 1}">
		  <ion-row class="post" >
			<div class="post-cont">
			  <div class="username">
				<ng-container>
				  {{person.name}} 	
				</ng-container>
				<ion-checkbox color="dark" (ionChange)="selectPerson(person,$event)" ></ion-checkbox>
			  </div>
			  <div>
				{{person.phoneNumbers[0].value}}
			  </div>			  
			</div>
		  </ion-row>		
		</ng-container>
	</div>
</div>

<div *ngIf="holdSaveLM" class="wait-note">
	<span *ngIf="locationSelected != ''">Wait! We are sharing your activity '{{activitySelected}} near {{locationSelected}}'</span>
	<span *ngIf="locationSelected == ''">Wait! We are sharing your activity '{{activitySelected}}'</span>
</div>	

<div class="virtual-custom-scroll-wrapper" [ngStyle]="{'opacity': showActivitiesContainer && !showContactsStep?'1':'0'}">
	<div class="virtual-custom-scroll-container">  
		<ion-list [virtualScroll]="activity" class="activity-list"> 
		  <ion-item *virtualItem="let activity_item;let i = index">
			<button class="activity-btn" [ngClass]="{'blue-text':i==0}"  (tap)="select_activity(activity_item)">{{activity_item.itemName}}</button>
		  </ion-item>
		</ion-list>
	</div>
</div>

</ion-content>

<ion-footer *ngIf="!showActivitiesContainer">
	<ion-list radio-group class="share-with" *ngIf='!showContactsStep'>
	  <!-- <ion-item  class="snapchat-radio" *ngIf="user.id == 47">
		<ion-label>
			<ion-icon ios="logo-snapchat" md="logo-snapchat"></ion-icon>
			<span> Share </span>
		</ion-label>
		<ion-radio slot="start" value="SnapChat" (ionSelect)="setShare('SnapChat')"></ion-radio>
	  </ion-item> --> 

	  <ion-item class="facebook-radio">
		<ion-label>
			<ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon> 
			<span> Share </span>
		</ion-label>
		<ion-radio slot="start" value="Facebook" (ionSelect)="setShare('Facebook')"></ion-radio>
	  </ion-item>
	  
	  <ion-item class="twitter-radio">
		<ion-label> 
			<ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>	
			<span>Share</span>
		</ion-label>
		<ion-radio slot="start" value="Twitter" (ionSelect)="setShare('Twitter')"></ion-radio>
	  </ion-item>
	  
	  <ion-item class="instagram-radio">
		<ion-label> 
			<ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>	
			<span>Share</span>
		</ion-label>
		<ion-radio slot="start" value="Instagram" (ionSelect)="setShare('Instagram')"></ion-radio>
	  </ion-item> 
	</ion-list>

	
	<button ion-button color="bk" class="back-btn" outline (tap)="goToLanding()" *ngIf="showContactsStep">
	   Back
	</button>
	
	<button ion-button color="bk" class="main-action-btn medium transparent {{chatPrvd.mainBtn.state}}" outline (tap)="goToLanding()" (press)="showContacts()" [disabled]="holdSaveLM" *ngIf='!showContactsStep'>
		<span>Hold <br/> to create</span>
	</button>
	
	<button ion-button color="bk" class="main-action-btn medium transparent {{chatPrvd.mainBtn.state}}" outline (tap)="sendMessage()" [disabled]="holdSaveLM" *ngIf='showContactsStep'>	
	   <ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline"  style="padding-left:3px;"></ion-icon>	
	</button>
	
	<div class="weekly-btn" *ngIf='!showContactsStep'> 
		<ion-checkbox color="dark" [(ngModel)]="isWeekly" ></ion-checkbox> 
		Weekly? 
	</div>

</ion-footer>
