page-hold {

  .hold-text {
    height: 100%;
    .netwrk-icon {
      width:120px;
      margin-top: 20px;
    }
    .text-bk1 {
      color: #5b87aa;
      font-size: 30px;
      font-weight: bold;
      margin-top: 90px;
	  padding: 0 20px;
    }
    .text-bk2 {
      color: #5b87aa;
      font-size: 12px;
      font-weight: bold;
    }
    .text-bk3 {
      color: #5b87aa;
      font-size: 17px;
      font-weight: bold;
    }
	.col{
	  padding: 110px 5px;
	}
  }

  .footer{
	.tip {
		color: #fff;
		font-size: 15px;
		padding: 3px 10px;
		bottom: 190px;
		width: auto;
		z-index: 2;
		display: inline;
	}	
	.tip::before {
		content: '';
		position: absolute;
		display: block;
		width: 40px;
		background: #5b87aa;
		top: -4px;
		height: 15px;
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 50%;
		z-index: -1;
	}  
	
	.tail-bottom {
		top: 13px;
		color: #5b87aa;
		padding: 0 30px;
		text-align: center;
		font-size: 20px;
		margin-bottom: -15px;
		font-weight: 700;
	}
	.skip-local{
		color: #5b87aa;
		background: transparent;
		float:right;
		font-weight: 500;
	}
  }
  
  .main-action-btn {
    .icon {
      &.glowing-icon {
        background-image: url('../assets/images/glowing_icon.png');
        width: 26px;
        height: 26px;
        background-size: 26px;
      }
    }
  }

  .content {
    height: 100%;
  }
}

