page-hold {
  .header {
    &::after {
      background: none;
    }

    .toolbar-background {
      background: transparent;
      border: none;
    }

    .warning {
      color: color($colors, 'bk-stone');
      font-size: 8px;
      margin-top: -6px;
    }

    .drag-container {
      .dragline {
        background: transparent;
        color: #ccc;
        border-color: color($colors, 'bk');

        .info {
          .username {
            max-width: 100%;
          }
        }
      }
    }
  }

  h1 {
    margin-top: 0px;
  }

  .cusrom-center-block {
    margin-top: 10px;
  }

  .content {
    height: 100%;
    h1 {
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      .button-md {
        height: 2.6rem;
        padding: 0 0.7em;
      }
    }
  }
  ion-header {
    &.header {
      button.side {
        right: 13px;
        box-shadow: none;
        &.left {
          left: 13px;
          right: auto;
        }
      }
    }
    .badge {
      position: absolute;
      left: 25px;
      top: 25px;
      z-index: 50;
      padding: 2px 4px;
      pointer-events: none;
    }
    .lock-status {
      height: 14px;
      width: 14px;
      position: absolute;
      background: color($colors, bk-red);
      border-radius: 50%;
      right: 32px;
      top: 24px;
      z-index: 50;
    }
    button.side {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 50;
      &.top-icon {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        padding: 0;
        background-color: transparent;
        background: color($colors, bk);
        border: 1px solid #fff;
        box-sizing: content-box;
        &.refresh-btn {
          font-size: 30px;
        }
        &.lock-btn {
          &.active {
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: color($colors, bk-red);
              z-index: 3;
              left: 0;
              bottom: -5px;
            }
          }
        }
        &.white {
          background: transparent;
          border: none;
          border-radius: 0;
        }
        & ion-icon {
          // font-size: 32px;
          font-size: 26px;
          color: color($colors, white);
        }
      }
      &.clear-btn {
        right: 4px;
        padding: 0;
        font-size: 14px;
        color: #fff;
        height: 26px;
        width: 42px;
        border-radius: 13px;
        background: color($colors, bk-red);
      }
    }
  }
}
