page-sign-up-confirm {
  .item-block {
    padding-left: 0;
  }
  .email-note{
	margin-top: 25px;
    font-size: 17px;
    color: #5b87aa;
    text-align: center;
  }
  .footer{
	.footer-back-button{
	    position: absolute; 
		bottom: 25px;
		max-height: 30px;
		background: none;
		box-shadow: none;
		left: calc(50% - 145px);
		font-size: 21px;
		max-width: 65px;
	}
  }
}
