<ion-header class="incognito-header" isScrolling="false">
  <ion-toolbar>
    <div class="drag-container">
      <div class="dragline">
        <span class="info">
          <span class="username">{{ user.name }}</span>
        </span>
        <ion-icon ios="ios-log-out" md="ios-log-out"></ion-icon>
        <img class="draggable-element" src="{{ user.imageUrl }}" (tap)="goToProfile()">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content has-main-btn has-main-btn-label>

</ion-content>

<ion-footer class="has-input chatFooter">
  <div #galleryCont item-content  class="gallery-container" [hidden]="galleryContainer.hidden" [@galleryState]="galleryContainer.state">
    <ion-img *ngFor="let imgSrc of imagesSrc" [src]="imgSrc" [style.height.px]="galleryContainer.imgHeight"></ion-img>
  </div>

  <div #emojiCont item-content class="gallery-container emoji-container" [hidden]="emojiContainer.hidden" [@galleryState]="emojiContainer.state">
    <span item-content *ngFor="let emoji of emojis" (tap)="insertEmoji(emoji)" class="emoji-item"> {{ convertEmoji(emoji) }} </span>
  </div>

  <div #shareCont item-content class="gallery-container share-container" [hidden]="shareContainer.hidden" [@galleryState]="shareContainer.state">
  </div>

  <button isScrolling="false" tapable [hidden]="mainBtn.hidden" [@mainBtnState]="mainBtn.state" color="bk"
  class="main-action-btn has-footer transparent chatMainBtn"></button>

  <ion-item class="text" #inputItem [@fadeState]="mainInput.state" [hidden]="mainInput.hidden">
    <div item-content id="textInpBtns" [@bgState]="bgState.state">
      <button ion-button [@inputState]="chatBtns.state[0]" (tap)="openCamera()">
        <ion-icon ios="ios-camera-outline" md="ios-camera-outline"></ion-icon>
      </button>
      <button ion-button [@inputState]="chatBtns.state[1]" (tap)="toggleContainer(galleryContainer)">
         <ion-icon ios="ios-image-outline" md="ios-image-outline"></ion-icon>
      </button>
      <button ion-button [@inputState]="chatBtns.state[2]">
        <ion-icon ios="ios-redo" md="ios-redo"></ion-icon>
      </button>
      <button ion-button [@inputState]="chatBtns.state[3]" (tap)="toggleContainer(emojiContainer); toggleChatOptions()">
        <ion-icon ios="ios-happy-outline" md="ios-happy-outline"></ion-icon>
      </button>
      <button ion-button [@inputState]="chatBtns.state[4]"></button>
    </div>

    <button ion-button (tap)="toggleChatOptions(); toggleContainer(galleryContainer, 'hide'); toggleContainer(emojiContainer, 'hide'); toggleContainer(shareContainer, 'hide')" [@rotState]="chatOptions.state" ion-button item-left clear id="plus-btn">
      <ion-icon ios="ios-add" md="ios-add"></ion-icon>
    </button>

    <input #textInput id="textInput" type="text" placeholder="On this spot..." (tap)="getCaretPos(textInput)" (keyup)="getCaretPos(textInput)">
    <!-- <div #textInput id="textInput" type="textShortMessage" contenteditable=""></div> -->

    <button ion-button item-right clear (tap)="sendMessage()">
      <ion-icon ios="ios-text-outline" md="ios-text-outline"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
