<ion-header class="incognito-header" isScrolling="false">
  <ion-toolbar>
    <ion-toggle class="undercoverToggle" #customToggle>
    </ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content has-main-btn has-main-btn-label>

</ion-content>

<ion-footer class="has-input chatFooter" isScrolling="false">
  <div #galleryCont item-content  class="gallery-container" [hidden]="!galleryContainer.stateBool" [@galleryState]="galleryContainer.state">
    <ion-img *ngFor="let imgSrc of imagesSrc" [src]="imgSrc" [style.height.px]="galleryContainer.imgHeight"></ion-img>
  </div>

  <div #emojiCont item-content class="gallery-container emoji-container" [hidden]="!emojiContainer.stateBool" [@galleryState]="emojiContainer.state">
    <span item-content *ngFor="let emoji of emojis" (click)="insertEmoji(emoji)" class="emoji-item"> {{ convertEmoji(emoji) }} </span>
  </div>

  <!-- \xF0\x9F\x98\x81 -->

  <button isScrolling="false" [hidden]="hiddenMainBtn" [@mainBtnState]="mainBtn.state" ion-button color="bk"
  class="main-action-btn has-footer transparent chatMainBtn" outline isScrolling="false"></button>

  <ion-item class="text">
    <div item-content id="textInpBtns" [@bgState]="bgState.state">
      <button ion-button [@inputState]="chatBtns.state[0]" (click)="openCamera()">
        <ion-icon ios="ios-camera-outline" md="ios-camera-outline"></ion-icon>
      </button>
      <button ion-button [@inputState]="chatBtns.state[1]" (click)="toggleContainer(galleryContainer)">
         <ion-icon ios="ios-image-outline" md="ios-image-outline"></ion-icon>
      </button>
      <button ion-button [@inputState]="chatBtns.state[2]">
        <ion-icon ios="ios-redo" md="ios-redo"></ion-icon>
      </button>
      <button ion-button [@inputState]="chatBtns.state[3]" (click)="toggleContainer(emojiContainer); toggleChatOptions()">
        <ion-icon ios="ios-happy-outline" md="ios-happy-outline"></ion-icon>
      </button>
      <button ion-button [@inputState]="chatBtns.state[4]"></button>
    </div>

    <button (click)="toggleChatOptions(); toggleContainer(galleryContainer, 'hide'); toggleContainer(emojiContainer, 'hide')" [@rotState]="chatOptions.state" ion-button item-left clear id="plus-btn">
      <ion-icon ios="ios-add" md="ios-add"></ion-icon>
    </button>

    <input #textInput id="textInput" type="text" placeholder="On this spot..." (click)="getCaretPos(textInput)" (keyup)="getCaretPos(textInput)">
    <!-- <div #textInput id="textInput" type="textShortMessage" contenteditable=""></div> -->

    <button ion-button item-right clear (click)="sendMessage()">
      <ion-icon ios="ios-text-outline" md="ios-text-outline"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
