modal-maps {
  .close-map {
    width: 36px;
    height: 36px;
    background: #5b87aa;
    border: 1px solid #5b87aa;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    position: absolute;
    z-index: 99;
    top: 12px;
    right: 14px;
    font-size: 15px;
  }
  .map {
    width: 100%;
    height: 100vh;
  }
  .input {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid silver;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
    z-index: 100;
    width: 250px;
  }
}
