page-network-contact-list {
  .back-nav-btn {
    left: 0;
    padding: 0;
    font-size: 14px;
    color: white !important;
    height: 26px;
    width: 42px;
    border-radius: 13px;
    margin: 10px !important;
    background: #5b87aa !important;
    position: absolute;
    bottom: 20px;
  }

  .skip-btn {
    right: 0;
    padding: 0;
    font-size: 14px;
    color: white !important;
    height: 26px;
    width: 42px;
    border-radius: 13px;
    margin: 10px !important;
    background: #5b87aa !important;
    position: absolute;
    bottom: 20px;
  }
  .header {
    .text-ios-bk {
      font-size: 1.6rem;
    }
    .send-messages-header {
      font-size: 10px;
      margin-right: 33px;
      margin-left: 33px
    }
    .sun-logo {
      display: block;
      margin: 0 auto;
      height: 48px;
      margin-top: 1rem;
    }
    .heading {
      font-size: 1.6rem;
      margin-top: 1rem;
    }
    .description {
      font-size: 12px;
    }
  }

  .select-all {
    &.opaque {
      opacity: 0;
    }
    margin-right: 33px;
    text-transform: capitalize;
  }

  .item-block.item-checkbox {
    padding-left: 0;

    .item-inner {
      padding: 0 23px;
    }

  }

}
