<ion-header>
  <h4 text-center ion-text color="bk" class="send-messages-header">
    <!-- Select contacts you want to invite -->
    <ng-container *ngIf="listType == 'emails'">
      It's awesome your connecting to your area! To finish, invite your email
      contacts to help grow it. We'll just send them a story about netwrk, an
      invitation to use the "insert" and see what's going on nearby.
    </ng-container>
    <ng-container *ngIf="listType == 'phones'">
      Send the text: "I connected to my area on this cool app called netwrk,
      where you can hang anything anywhere "insert". Check it out" to anyone by
      tapping next to their name.
    </ng-container>
  </h4>
  <div text-right>
    <button *ngIf="listType != 'emails'" ion-button color="bk"
            class="select-all" (click)="doSelectAll()"
            [outline]="!selectAll">Select All</button>
  </div>
</ion-header>

<ion-content has-main-btn>
  <ion-list>
    <ion-item *ngFor="let c of contacts">
      <ion-label>
        <h2 ion-text color="bk" *ngIf="c.name.formatted">
          <strong>{{c.name.formatted}}</strong>
        </h2>
        <p *ngIf="c.emails && listType == 'emails'">{{c.emails[0].value}}</p>
        <p *ngIf="c.phoneNumbers && listType == 'phones'">{{c.phoneNumbers[0].value}}</p>
      </ion-label>
      <ion-checkbox item-right color="bk" checked="true"
        [(ngModel)]="c.checked" (click)="doChange(c)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button *ngIf="accessed" ion-button color="bk"
          class="main-action-btn medium" outline (tap)="goHome()">
    <ion-icon class="custom-text-icon">&#8250;</ion-icon>
  </button>
  <button ion-button class="footer-back-button" (tap)="goBack()">
    <span ion-text color="bk">Back</span>
  </button>
</ion-footer>
